# Please do not add personal files

# Logs
*.log

# Hidden
.*

# TODO
TODO.*

# Notes
*.notes

# Tests
test/repos/repo
coverage.txt

# Binaries
lazygit

# Exceptions
!.gitignore
!.goreleaser.yml
!.circleci/
!.github/

test/git_server/data