{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"api.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"}
    },
    "CreateAlgorithm":{
      "name":"CreateAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlgorithmInput"},
      "output":{"shape":"CreateAlgorithmOutput"}
    },
    "CreateCodeRepository":{
      "name":"CreateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCodeRepositoryInput"},
      "output":{"shape":"CreateCodeRepositoryOutput"}
    },
    "CreateCompilationJob":{
      "name":"CreateCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCompilationJobRequest"},
      "output":{"shape":"CreateCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateLabelingJob":{
      "name":"CreateLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLabelingJobRequest"},
      "output":{"shape":"CreateLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModelPackage":{
      "name":"CreateModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageInput"},
      "output":{"shape":"CreateModelPackageOutput"}
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"}
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateWorkteam":{
      "name":"CreateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkteamRequest"},
      "output":{"shape":"CreateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteAlgorithm":{
      "name":"DeleteAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlgorithmInput"}
    },
    "DeleteCodeRepository":{
      "name":"DeleteCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCodeRepositoryInput"}
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"}
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"}
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"}
    },
    "DeleteModelPackage":{
      "name":"DeleteModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageInput"}
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"}
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"}
    },
    "DeleteWorkteam":{
      "name":"DeleteWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkteamRequest"},
      "output":{"shape":"DeleteWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DescribeAlgorithm":{
      "name":"DescribeAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlgorithmInput"},
      "output":{"shape":"DescribeAlgorithmOutput"}
    },
    "DescribeCodeRepository":{
      "name":"DescribeCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeRepositoryInput"},
      "output":{"shape":"DescribeCodeRepositoryOutput"}
    },
    "DescribeCompilationJob":{
      "name":"DescribeCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCompilationJobRequest"},
      "output":{"shape":"DescribeCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"}
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"}
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeLabelingJob":{
      "name":"DescribeLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLabelingJobRequest"},
      "output":{"shape":"DescribeLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"}
    },
    "DescribeModelPackage":{
      "name":"DescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageInput"},
      "output":{"shape":"DescribeModelPackageOutput"}
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"}
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"}
    },
    "DescribeSubscribedWorkteam":{
      "name":"DescribeSubscribedWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscribedWorkteamRequest"},
      "output":{"shape":"DescribeSubscribedWorkteamResponse"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeWorkteam":{
      "name":"DescribeWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkteamRequest"},
      "output":{"shape":"DescribeWorkteamResponse"}
    },
    "GetSearchSuggestions":{
      "name":"GetSearchSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSearchSuggestionsRequest"},
      "output":{"shape":"GetSearchSuggestionsResponse"}
    },
    "ListAlgorithms":{
      "name":"ListAlgorithms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlgorithmsInput"},
      "output":{"shape":"ListAlgorithmsOutput"}
    },
    "ListCodeRepositories":{
      "name":"ListCodeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeRepositoriesInput"},
      "output":{"shape":"ListCodeRepositoriesOutput"}
    },
    "ListCompilationJobs":{
      "name":"ListCompilationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCompilationJobsRequest"},
      "output":{"shape":"ListCompilationJobsResponse"}
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"}
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"}
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"}
    },
    "ListLabelingJobs":{
      "name":"ListLabelingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsRequest"},
      "output":{"shape":"ListLabelingJobsResponse"}
    },
    "ListLabelingJobsForWorkteam":{
      "name":"ListLabelingJobsForWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsForWorkteamRequest"},
      "output":{"shape":"ListLabelingJobsForWorkteamResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListModelPackages":{
      "name":"ListModelPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackagesInput"},
      "output":{"shape":"ListModelPackagesOutput"}
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"}
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"}
    },
    "ListSubscribedWorkteams":{
      "name":"ListSubscribedWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribedWorkteamsRequest"},
      "output":{"shape":"ListSubscribedWorkteamsResponse"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"}
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"}
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"}
    },
    "ListWorkteams":{
      "name":"ListWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkteamsRequest"},
      "output":{"shape":"ListWorkteamsResponse"}
    },
    "RenderUiTemplate":{
      "name":"RenderUiTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenderUiTemplateRequest"},
      "output":{"shape":"RenderUiTemplateResponse"}
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchRequest"},
      "output":{"shape":"SearchResponse"}
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "StopCompilationJob":{
      "name":"StopCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCompilationJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopHyperParameterTuningJob":{
      "name":"StopHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopLabelingJob":{
      "name":"StopLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLabelingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"}
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopTransformJob":{
      "name":"StopTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "UpdateCodeRepository":{
      "name":"UpdateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCodeRepositoryInput"},
      "output":{"shape":"UpdateCodeRepositoryOutput"}
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateNotebookInstanceLifecycleConfig":{
      "name":"UpdateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"UpdateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateWorkteam":{
      "name":"UpdateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkteamRequest"},
      "output":{"shape":"UpdateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    }
  },
  "shapes":{
    "Accept":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^\\d+$"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "AdditionalCodeRepositoryNamesOrUrls":{
      "type":"list",
      "member":{"shape":"CodeRepositoryNameOrUrl"},
      "max":3
    },
    "AlgorithmArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255,
      "pattern":".*"
    },
    "AlgorithmSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":["TrainingInputMode"],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "AlgorithmName":{"shape":"ArnOrName"},
        "TrainingInputMode":{"shape":"TrainingInputMode"},
        "MetricDefinitions":{"shape":"MetricDefinitionList"}
      }
    },
    "AlgorithmStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Completed",
        "Failed",
        "Deleting"
      ]
    },
    "AlgorithmStatusDetails":{
      "type":"structure",
      "members":{
        "ValidationStatuses":{"shape":"AlgorithmStatusItemList"},
        "ImageScanStatuses":{"shape":"AlgorithmStatusItemList"}
      }
    },
    "AlgorithmStatusItem":{
      "type":"structure",
      "required":[
        "Name",
        "Status"
      ],
      "members":{
        "Name":{"shape":"EntityName"},
        "Status":{"shape":"DetailedAlgorithmStatus"},
        "FailureReason":{"shape":"String"}
      }
    },
    "AlgorithmStatusItemList":{
      "type":"list",
      "member":{"shape":"AlgorithmStatusItem"}
    },
    "AlgorithmSummary":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "AlgorithmStatus"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"}
      }
    },
    "AlgorithmSummaryList":{
      "type":"list",
      "member":{"shape":"AlgorithmSummary"}
    },
    "AlgorithmValidationProfile":{
      "type":"structure",
      "required":[
        "ProfileName",
        "TrainingJobDefinition"
      ],
      "members":{
        "ProfileName":{"shape":"EntityName"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "TransformJobDefinition":{"shape":"TransformJobDefinition"}
      }
    },
    "AlgorithmValidationProfiles":{
      "type":"list",
      "member":{"shape":"AlgorithmValidationProfile"},
      "max":1,
      "min":1
    },
    "AlgorithmValidationSpecification":{
      "type":"structure",
      "required":[
        "ValidationRole",
        "ValidationProfiles"
      ],
      "members":{
        "ValidationRole":{"shape":"RoleArn"},
        "ValidationProfiles":{"shape":"AlgorithmValidationProfiles"}
      }
    },
    "AnnotationConsolidationConfig":{
      "type":"structure",
      "required":["AnnotationConsolidationLambdaArn"],
      "members":{
        "AnnotationConsolidationLambdaArn":{"shape":"LambdaFunctionArn"}
      }
    },
    "ArnOrName":{
      "type":"string",
      "max":170,
      "min":1,
      "pattern":"(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
    },
    "AssemblyType":{
      "type":"string",
      "enum":[
        "None",
        "Line"
      ]
    },
    "AttributeName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".+"
    },
    "AttributeNames":{
      "type":"list",
      "member":{"shape":"AttributeName"},
      "max":16
    },
    "BatchStrategy":{
      "type":"string",
      "enum":[
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "Boolean":{"type":"boolean"},
    "BooleanOperator":{
      "type":"string",
      "enum":[
        "And",
        "Or"
      ]
    },
    "Branch":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^ ~^:?*\\[]+"
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRangeSpecification":{
      "type":"structure",
      "required":["Values"],
      "members":{
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":0
    },
    "Cents":{
      "type":"integer",
      "max":99,
      "min":0
    },
    "CertifyForMarketplace":{"type":"boolean"},
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{"shape":"ChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"ContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"RecordWrapper"},
        "InputMode":{"shape":"TrainingInputMode"},
        "ShuffleConfig":{"shape":"ShuffleConfig"}
      }
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "ChannelSpecification":{
      "type":"structure",
      "required":[
        "Name",
        "SupportedContentTypes",
        "SupportedInputModes"
      ],
      "members":{
        "Name":{"shape":"ChannelName"},
        "Description":{"shape":"EntityDescription"},
        "IsRequired":{"shape":"Boolean"},
        "SupportedContentTypes":{"shape":"ContentTypes"},
        "SupportedCompressionTypes":{"shape":"CompressionTypes"},
        "SupportedInputModes":{"shape":"InputModes"}
      }
    },
    "ChannelSpecifications":{
      "type":"list",
      "member":{"shape":"ChannelSpecification"},
      "max":8,
      "min":1
    },
    "CodeRepositoryArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:code-repository/.*"
    },
    "CodeRepositoryContains":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameOrUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^https://([^/]+)/?(.*)$|^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "CodeRepositorySortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "LastModifiedTime"
      ]
    },
    "CodeRepositorySortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "CodeRepositorySummary":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CodeRepositorySummaryList":{
      "type":"list",
      "member":{"shape":"CodeRepositorySummary"}
    },
    "CognitoClientId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+]+"
    },
    "CognitoMemberDefinition":{
      "type":"structure",
      "required":[
        "UserPool",
        "UserGroup",
        "ClientId"
      ],
      "members":{
        "UserPool":{"shape":"CognitoUserPool"},
        "UserGroup":{"shape":"CognitoUserGroup"},
        "ClientId":{"shape":"CognitoClientId"}
      }
    },
    "CognitoUserGroup":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "CognitoUserPool":{
      "type":"string",
      "max":55,
      "min":1,
      "pattern":"[\\w-]+_[0-9a-zA-Z]+"
    },
    "CompilationJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:compilation-job/.*"
    },
    "CompilationJobStatus":{
      "type":"string",
      "enum":[
        "INPROGRESS",
        "COMPLETED",
        "FAILED",
        "STARTING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "CompilationJobSummaries":{
      "type":"list",
      "member":{"shape":"CompilationJobSummary"}
    },
    "CompilationJobSummary":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CreationTime",
        "CompilationTargetDevice",
        "CompilationJobStatus"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CreationTime":{"shape":"CreationTime"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "CompilationTargetDevice":{"shape":"TargetDevice"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"}
      }
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "CompressionTypes":{
      "type":"list",
      "member":{"shape":"CompressionType"}
    },
    "ContainerDefinition":{
      "type":"structure",
      "members":{
        "ContainerHostname":{"shape":"ContainerHostname"},
        "Image":{"shape":"Image"},
        "ModelDataUrl":{"shape":"Url"},
        "Environment":{"shape":"EnvironmentMap"},
        "ModelPackageName":{"shape":"ArnOrName"}
      }
    },
    "ContainerDefinitionList":{
      "type":"list",
      "member":{"shape":"ContainerDefinition"},
      "max":5
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContentClassifier":{
      "type":"string",
      "enum":[
        "FreeOfPersonallyIdentifiableInformation",
        "FreeOfAdultContent"
      ]
    },
    "ContentClassifiers":{
      "type":"list",
      "member":{"shape":"ContentClassifier"},
      "max":256
    },
    "ContentType":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContentTypes":{
      "type":"list",
      "member":{"shape":"ContentType"}
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"},
        "ScalingType":{"shape":"HyperParameterScalingType"}
      }
    },
    "ContinuousParameterRangeSpecification":{
      "type":"structure",
      "required":[
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      }
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":0
    },
    "CreateAlgorithmInput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "TrainingSpecification"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateAlgorithmOutput":{
      "type":"structure",
      "required":["AlgorithmArn"],
      "members":{
        "AlgorithmArn":{"shape":"AlgorithmArn"}
      }
    },
    "CreateCodeRepositoryInput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "GitConfig"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CreateCodeRepositoryOutput":{
      "type":"structure",
      "required":["CodeRepositoryArn"],
      "members":{
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"}
      }
    },
    "CreateCompilationJobRequest":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "RoleArn",
        "InputConfig",
        "OutputConfig",
        "StoppingCondition"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"}
      }
    },
    "CreateCompilationJobResponse":{
      "type":"structure",
      "required":["CompilationJobArn"],
      "members":{
        "CompilationJobArn":{"shape":"CompilationJobArn"}
      }
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{"shape":"EndpointConfigArn"}
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "CreateHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig",
        "TrainingJobDefinition"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"}
      }
    },
    "CreateLabelingJobRequest":{
      "type":"structure",
      "required":[
        "LabelingJobName",
        "LabelAttributeName",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateLabelingJobResponse":{
      "type":"structure",
      "required":["LabelingJobArn"],
      "members":{
        "LabelingJobArn":{"shape":"LabelingJobArn"}
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "VpcConfig":{"shape":"VpcConfig"},
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "CreateModelOutput":{
      "type":"structure",
      "required":["ModelArn"],
      "members":{
        "ModelArn":{"shape":"ModelArn"}
      }
    },
    "CreateModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"EntityName"},
        "ModelPackageDescription":{"shape":"EntityDescription"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"ModelPackageValidationSpecification"},
        "SourceAlgorithmSpecification":{"shape":"SourceAlgorithmSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "CreateModelPackageOutput":{
      "type":"structure",
      "required":["ModelPackageArn"],
      "members":{
        "ModelPackageArn":{"shape":"ModelPackageArn"}
      }
    },
    "CreateNotebookInstanceInput":{
      "type":"structure",
      "required":[
        "NotebookInstanceName",
        "InstanceType",
        "RoleArn"
      ],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "InstanceType":{"shape":"InstanceType"},
        "SubnetId":{"shape":"SubnetId"},
        "SecurityGroupIds":{"shape":"SecurityGroupIds"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "Tags":{"shape":"TagList"},
        "LifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "DirectInternetAccess":{"shape":"DirectInternetAccess"},
        "VolumeSizeInGB":{"shape":"NotebookInstanceVolumeSizeInGB"},
        "AcceleratorTypes":{"shape":"NotebookInstanceAcceleratorTypes"},
        "DefaultCodeRepository":{"shape":"CodeRepositoryNameOrUrl"},
        "AdditionalCodeRepositories":{"shape":"AdditionalCodeRepositoryNamesOrUrls"},
        "RootAccess":{"shape":"RootAccess"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "OnCreate":{"shape":"NotebookInstanceLifecycleConfigList"},
        "OnStart":{"shape":"NotebookInstanceLifecycleConfigList"}
      }
    },
    "CreateNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{"shape":"NotebookInstanceLifecycleConfigArn"}
      }
    },
    "CreateNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"}
      }
    },
    "CreatePresignedNotebookInstanceUrlInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "SessionExpirationDurationInSeconds":{"shape":"SessionExpirationDurationInSeconds"}
      }
    },
    "CreatePresignedNotebookInstanceUrlOutput":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{"shape":"NotebookInstanceUrl"}
      }
    },
    "CreateTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "RoleArn",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "VpcConfig":{"shape":"VpcConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{"shape":"TagList"},
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"}
      }
    },
    "CreateTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{"shape":"TrainingJobArn"}
      }
    },
    "CreateTransformJobRequest":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "ModelName",
        "TransformInput",
        "TransformOutput",
        "TransformResources"
      ],
      "members":{
        "TransformJobName":{"shape":"TransformJobName"},
        "ModelName":{"shape":"ModelName"},
        "MaxConcurrentTransforms":{"shape":"MaxConcurrentTransforms"},
        "MaxPayloadInMB":{"shape":"MaxPayloadInMB"},
        "BatchStrategy":{"shape":"BatchStrategy"},
        "Environment":{"shape":"TransformEnvironmentMap"},
        "TransformInput":{"shape":"TransformInput"},
        "TransformOutput":{"shape":"TransformOutput"},
        "TransformResources":{"shape":"TransformResources"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateTransformJobResponse":{
      "type":"structure",
      "required":["TransformJobArn"],
      "members":{
        "TransformJobArn":{"shape":"TransformJobArn"}
      }
    },
    "CreateWorkteamRequest":{
      "type":"structure",
      "required":[
        "WorkteamName",
        "MemberDefinitions",
        "Description"
      ],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"},
        "MemberDefinitions":{"shape":"MemberDefinitions"},
        "Description":{"shape":"String200"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateWorkteamResponse":{
      "type":"structure",
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"}
      }
    },
    "CreationTime":{"type":"timestamp"},
    "DataInputConfig":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\S\\s]+"
    },
    "DataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{"shape":"S3DataSource"}
      }
    },
    "DeleteAlgorithmInput":{
      "type":"structure",
      "required":["AlgorithmName"],
      "members":{
        "AlgorithmName":{"shape":"EntityName"}
      }
    },
    "DeleteCodeRepositoryInput":{
      "type":"structure",
      "required":["CodeRepositoryName"],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"}
      }
    },
    "DeleteEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"}
      }
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"EndpointName"}
      }
    },
    "DeleteModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{"shape":"ModelName"}
      }
    },
    "DeleteModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"EntityName"}
      }
    },
    "DeleteNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "DeleteNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"}
      }
    },
    "DeleteTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "TagKeys":{"shape":"TagKeyList"}
      }
    },
    "DeleteTagsOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteWorkteamRequest":{
      "type":"structure",
      "required":["WorkteamName"],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"}
      }
    },
    "DeleteWorkteamResponse":{
      "type":"structure",
      "required":["Success"],
      "members":{
        "Success":{"shape":"Success"}
      }
    },
    "DeployedImage":{
      "type":"structure",
      "members":{
        "SpecifiedImage":{"shape":"Image"},
        "ResolvedImage":{"shape":"Image"},
        "ResolutionTime":{"shape":"Timestamp"}
      }
    },
    "DeployedImages":{
      "type":"list",
      "member":{"shape":"DeployedImage"}
    },
    "DescribeAlgorithmInput":{
      "type":"structure",
      "required":["AlgorithmName"],
      "members":{
        "AlgorithmName":{"shape":"ArnOrName"}
      }
    },
    "DescribeAlgorithmOutput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "TrainingSpecification",
        "AlgorithmStatus",
        "AlgorithmStatusDetails"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"},
        "AlgorithmStatusDetails":{"shape":"AlgorithmStatusDetails"},
        "ProductId":{"shape":"ProductId"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "DescribeCodeRepositoryInput":{
      "type":"structure",
      "required":["CodeRepositoryName"],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"}
      }
    },
    "DescribeCodeRepositoryOutput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "DescribeCompilationJobRequest":{
      "type":"structure",
      "required":["CompilationJobName"],
      "members":{
        "CompilationJobName":{"shape":"EntityName"}
      }
    },
    "DescribeCompilationJobResponse":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CompilationJobStatus",
        "StoppingCondition",
        "CreationTime",
        "LastModifiedTime",
        "FailureReason",
        "ModelArtifacts",
        "RoleArn",
        "InputConfig",
        "OutputConfig"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "FailureReason":{"shape":"FailureReason"},
        "ModelArtifacts":{"shape":"ModelArtifacts"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"}
      }
    },
    "DescribeEndpointConfigInput":{
      "type":"structure",
      "required":["EndpointConfigName"],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"}
      }
    },
    "DescribeEndpointConfigOutput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "ProductionVariants",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "EndpointConfigArn":{"shape":"EndpointConfigArn"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "DescribeEndpointInput":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"EndpointName"}
      }
    },
    "DescribeEndpointOutput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "EndpointConfigName",
        "EndpointStatus",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointArn":{"shape":"EndpointArn"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantSummaryList"},
        "EndpointStatus":{"shape":"EndpointStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"}
      }
    },
    "DescribeHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":["HyperParameterTuningJobName"],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"}
      }
    },
    "DescribeHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobArn",
        "HyperParameterTuningJobConfig",
        "TrainingJobDefinition",
        "HyperParameterTuningJobStatus",
        "CreationTime",
        "TrainingJobStatusCounters",
        "ObjectiveStatusCounters"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "HyperParameterTuningJobStatus":{"shape":"HyperParameterTuningJobStatus"},
        "CreationTime":{"shape":"Timestamp"},
        "HyperParameterTuningEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "TrainingJobStatusCounters":{"shape":"TrainingJobStatusCounters"},
        "ObjectiveStatusCounters":{"shape":"ObjectiveStatusCounters"},
        "BestTrainingJob":{"shape":"HyperParameterTrainingJobSummary"},
        "OverallBestTrainingJob":{"shape":"HyperParameterTrainingJobSummary"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "FailureReason":{"shape":"FailureReason"}
      }
    },
    "DescribeLabelingJobRequest":{
      "type":"structure",
      "required":["LabelingJobName"],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"}
      }
    },
    "DescribeLabelingJobResponse":{
      "type":"structure",
      "required":[
        "LabelingJobStatus",
        "LabelCounters",
        "CreationTime",
        "LastModifiedTime",
        "JobReferenceCode",
        "LabelingJobName",
        "LabelingJobArn",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobStatus":{"shape":"LabelingJobStatus"},
        "LabelCounters":{"shape":"LabelCounters"},
        "FailureReason":{"shape":"FailureReason"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "JobReferenceCode":{"shape":"JobReferenceCode"},
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelingJobArn":{"shape":"LabelingJobArn"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"},
        "LabelingJobOutput":{"shape":"LabelingJobOutput"}
      }
    },
    "DescribeModelInput":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{"shape":"ModelName"}
      }
    },
    "DescribeModelOutput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn",
        "CreationTime",
        "ModelArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "VpcConfig":{"shape":"VpcConfig"},
        "CreationTime":{"shape":"Timestamp"},
        "ModelArn":{"shape":"ModelArn"},
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "DescribeModelPackageInput":{
      "type":"structure",
      "required":["ModelPackageName"],
      "members":{
        "ModelPackageName":{"shape":"ArnOrName"}
      }
    },
    "DescribeModelPackageOutput":{
      "type":"structure",
      "required":[
        "ModelPackageName",
        "ModelPackageArn",
        "CreationTime",
        "ModelPackageStatus",
        "ModelPackageStatusDetails"
      ],
      "members":{
        "ModelPackageName":{"shape":"EntityName"},
        "ModelPackageArn":{"shape":"ModelPackageArn"},
        "ModelPackageDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "SourceAlgorithmSpecification":{"shape":"SourceAlgorithmSpecification"},
        "ValidationSpecification":{"shape":"ModelPackageValidationSpecification"},
        "ModelPackageStatus":{"shape":"ModelPackageStatus"},
        "ModelPackageStatusDetails":{"shape":"ModelPackageStatusDetails"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"}
      }
    },
    "DescribeNotebookInstanceInput":{
      "type":"structure",
      "required":["NotebookInstanceName"],
      "members":{
        "NotebookInstanceName":{"shape":"NotebookInstanceName"}
      }
    },
    "DescribeNotebookInstanceLifecycleConfigInput":{
      "type":"structure",
      "required":["NotebookInstanceLifecycleConfigName"],
      "members":{
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"}
      }
    },
    "DescribeNotebookInstanceLifecycleConfigOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceLifecycleConfigArn":{"shape":"NotebookInstanceLifecycleConfigArn"},
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "OnCreate":{"shape":"NotebookInstanceLifecycleConfigList"},
        "OnStart":{"shape":"NotebookInstanceLifecycleConfigList"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CreationTime":{"shape":"CreationTime"}
      }
    },
    "DescribeNotebookInstanceOutput":{
      "type":"structure",
      "members":{
        "NotebookInstanceArn":{"shape":"NotebookInstanceArn"},
        "NotebookInstanceName":{"shape":"NotebookInstanceName"},
        "NotebookInstanceStatus":{"shape":"NotebookInstanceStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "Url":{"shape":"NotebookInstanceUrl"},
        "InstanceType":{"shape":"InstanceType"},
        "SubnetId":{"shape":"SubnetId"},
        "SecurityGroups":{"shape":"SecurityGroupIds"},
        "RoleArn":{"shape":"RoleArn"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "NetworkInterfaceId":{"shape":"NetworkInterfaceId"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CreationTime":{"shape":"CreationTime"},
        "NotebookInstanceLifecycleConfigName":{"shape":"NotebookInstanceLifecycleConfigName"},
        "DirectInternetAccess":{"shape":"DirectInternetAccess"},
        "VolumeSizeInGB":{"shape":"NotebookInstanceVolumeSizeInGB"},
        "AcceleratorTypes":{"shape":"NotebookInstanceAcceleratorTypes"},
        "DefaultCodeRepository":{"shape":"CodeRepositoryNameOrUrl"},
        "AdditionalCodeRepositories":{"shape":"AdditionalCodeRepositoryNamesOrUrls"},
        "RootAccess":{"shape":"RootAccess"}
      }
    },
    "DescribeSubscribedWorkteamRequest":{
      "type":"structure",
      "required":["WorkteamArn"],
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"}
      }
    },
    "DescribeSubscribedWorkteamResponse":{
      "type":"structure",
      "required":["SubscribedWorkteam"],
      "members":{
        "SubscribedWorkteam":{"shape":"SubscribedWorkteam"}
      }
    },
    "DescribeTrainingJobRequest":{
      "type":"structure",
      "required":["TrainingJobName"],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"}
      }
    },
    "DescribeTrainingJobResponse":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobArn",
        "ModelArtifacts",
        "TrainingJobStatus",
        "SecondaryStatus",
        "AlgorithmSpecification",
        "ResourceConfig",
        "StoppingCondition",
        "CreationTime"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "TuningJobArn":{"shape":"HyperParameterTuningJobArn"},
        "LabelingJobArn":{"shape":"LabelingJobArn"},
        "ModelArtifacts":{"shape":"ModelArtifacts"},
        "TrainingJobStatus":{"shape":"TrainingJobStatus"},
        "SecondaryStatus":{"shape":"SecondaryStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "VpcConfig":{"shape":"VpcConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "CreationTime":{"shape":"Timestamp"},
        "TrainingStartTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "SecondaryStatusTransitions":{"shape":"SecondaryStatusTransitions"},
        "FinalMetricDataList":{"shape":"FinalMetricDataList"},
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"}
      }
    },
    "DescribeTransformJobRequest":{
      "type":"structure",
      "required":["TransformJobName"],
      "members":{
        "TransformJobName":{"shape":"TransformJobName"}
      }
    },
    "DescribeTransformJobResponse":{
      "type":"structure",
      "required":[
        "TransformJobName",
        "TransformJobArn",
        "TransformJobStatus",
        "ModelName",
        "TransformInput",
        "TransformResources",
        "CreationTime"
      ],
      "members":{
        "TransformJobName":{"shape":"TransformJobName"},
        "TransformJobArn":{"shape":"TransformJobArn"},
        "TransformJobStatus":{"shape":"TransformJobStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "ModelName":{"shape":"ModelName"},
        "MaxConcurrentTransforms":{"shape":"MaxConcurrentTransforms"},
        "MaxPayloadInMB":{"shape":"MaxPayloadInMB"},
        "BatchStrategy":{"shape":"BatchStrategy"},
        "Environment":{"shape":"TransformEnvironmentMap"},
        "TransformInput":{"shape":"TransformInput"},
        "TransformOutput":{"shape":"TransformOutput"},
        "TransformResources":{"shape":"TransformResources"},
        "CreationTime":{"shape":"Timestamp"},
        "TransformStartTime":{"shape":"Timestamp"},
        "TransformEndTime":{"shape":"Timestamp"},
        "LabelingJobArn":{"shape":"LabelingJobArn"}
      }
    },
    "DescribeWorkteamRequest":{
      "type":"structure",
      "required":["WorkteamName"],
      "members":{
        "WorkteamName":{"shape":"WorkteamName"}
      }
    },
    "DescribeWorkteamResponse":{
      "type":"structure",
      "required":["Workteam"],
      "members":{
        "Workteam":{"shape":"Workteam"}
      }
    },
    "DesiredWeightAndCapacity":{
      "type":"structure",
      "required":["VariantName"],
      "members":{
        "VariantName":{"shape":"VariantName"},
        "DesiredWeight":{"shape":"VariantWeight"},
        "DesiredInstanceCount":{"shape":"TaskCount"}
      }
    },
    "DesiredWeightAndCapacityList":{
      "type":"list",
      "member":{"shape":"DesiredWeightAndCapacity"},
      "min":1
    },
    "DetailedAlgorithmStatus":{
      "type":"string",
      "enum":[
        "NotStarted",
        "InProgress",
        "Completed",
        "Failed"
      ]
    },
    "DetailedModelPackageStatus":{
      "type":"string",
      "enum":[
        "NotStarted",
        "InProgress",
        "Completed",
        "Failed"
      ]
    },
    "DirectInternetAccess":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "DisassociateAdditionalCodeRepositories":{"type":"boolean"},
    "DisassociateDefaultCodeRepository":{"type":"boolean"},
    "DisassociateNotebookInstanceAcceleratorTypes":{"type":"boolean"},
    "DisassociateNotebookInstanceLifecycleConfig":{"type":"boolean"},
    "Dollars":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "EndpointArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:endpoint/.*"
    },
    "EndpointConfigArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:endpoint-config/.*"
    },
    "EndpointConfigName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointConfigNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointConfigSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "EndpointConfigSummary":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "EndpointConfigArn",
        "CreationTime"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "EndpointConfigArn":{"shape":"EndpointConfigArn"},
        "CreationTime":{"shape":"Timestamp"}
      }
    },
    "EndpointConfigSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointConfigSummary"}
    },
    "EndpointName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "EndpointNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "EndpointSortKey":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "EndpointStatus":{
      "type":"string",
      "enum":[
        "OutOfService",
        "Creating",
        "Updating",
        "SystemUpdating",
        "RollingBack",
        "InService",
        "Deleting",
        "Failed"
      ]
    },
    "EndpointSummary":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointArn",
        "CreationTime",
        "LastModifiedTime",
        "EndpointStatus"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointArn":{"shape":"EndpointArn"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "EndpointStatus":{"shape":"EndpointStatus"}
      }
    },
    "EndpointSummaryList":{
      "type":"list",
      "member":{"shape":"EndpointSummary"}
    },
    "EntityDescription":{
      "type":"string",
      "max":1024,
      "pattern":"[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}]*"
    },
    "EntityName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "EnvironmentKey":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z_][a-zA-Z0-9_]*"
    },
    "EnvironmentMap":{
      "type":"map",
      "key":{"shape":"EnvironmentKey"},
      "value":{"shape":"EnvironmentValue"},
      "max":16
    },
    "EnvironmentValue":{
      "type":"string",
      "max":1024,
      "pattern":"[\\S\\s]*"
    },
    "FailureReason":{
      "type":"string",
      "max":1024
    },
    "Filter":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"ResourcePropertyName"},
        "Operator":{"shape":"Operator"},
        "Value":{"shape":"FilterValue"}
      }
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":20,
      "min":1
    },
    "FilterValue":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":".+"
    },
    "FinalHyperParameterTuningJobObjectiveMetric":{
      "type":"structure",
      "required":[
        "MetricName",
        "Value"
      ],
      "members":{
        "Type":{"shape":"HyperParameterTuningJobObjectiveType"},
        "MetricName":{"shape":"MetricName"},
        "Value":{"shape":"MetricValue"}
      }
    },
    "FinalMetricDataList":{
      "type":"list",
      "member":{"shape":"MetricData"},
      "max":20,
      "min":0
    },
    "Float":{"type":"float"},
    "Framework":{
      "type":"string",
      "enum":[
        "TENSORFLOW",
        "MXNET",
        "ONNX",
        "PYTORCH",
        "XGBOOST"
      ]
    },
    "GetSearchSuggestionsRequest":{
      "type":"structure",
      "required":["Resource"],
      "members":{
        "Resource":{"shape":"ResourceType"},
        "SuggestionQuery":{"shape":"SuggestionQuery"}
      }
    },
    "GetSearchSuggestionsResponse":{
      "type":"structure",
      "members":{
        "PropertyNameSuggestions":{"shape":"PropertyNameSuggestionList"}
      }
    },
    "GitConfig":{
      "type":"structure",
      "required":["RepositoryUrl"],
      "members":{
        "RepositoryUrl":{"shape":"GitConfigUrl"},
        "Branch":{"shape":"Branch"},
        "SecretArn":{"shape":"SecretArn"}
      }
    },
    "GitConfigForUpdate":{
      "type":"structure",
      "members":{
        "SecretArn":{"shape":"SecretArn"}
      }
    },
    "GitConfigUrl":{
      "type":"string",
      "pattern":"^https://([^/]+)/?(.*)$"
    },
    "HumanTaskConfig":{
      "type":"structure",
      "required":[
        "WorkteamArn",
        "UiConfig",
        "PreHumanTaskLambdaArn",
        "TaskTitle",
        "TaskDescription",
        "NumberOfHumanWorkersPerDataObject",
        "TaskTimeLimitInSeconds",
        "AnnotationConsolidationConfig"
      ],
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"},
        "UiConfig":{"shape":"UiConfig"},
        "PreHumanTaskLambdaArn":{"shape":"LambdaFunctionArn"},
        "TaskKeywords":{"shape":"TaskKeywords"},
        "TaskTitle":{"shape":"TaskTitle"},
        "TaskDescription":{"shape":"TaskDescription"},
        "NumberOfHumanWorkersPerDataObject":{"shape":"NumberOfHumanWorkersPerDataObject"},
        "TaskTimeLimitInSeconds":{"shape":"TaskTimeLimitInSeconds"},
        "TaskAvailabilityLifetimeInSeconds":{"shape":"TaskAvailabilityLifetimeInSeconds"},
        "MaxConcurrentTaskCount":{"shape":"MaxConcurrentTaskCount"},
        "AnnotationConsolidationConfig":{"shape":"AnnotationConsolidationConfig"},
        "PublicWorkforceTaskPrice":{"shape":"PublicWorkforceTaskPrice"}
      }
    },
    "HyperParameterAlgorithmSpecification":{
      "type":"structure",
      "required":["TrainingInputMode"],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "TrainingInputMode":{"shape":"TrainingInputMode"},
        "AlgorithmName":{"shape":"ArnOrName"},
        "MetricDefinitions":{"shape":"MetricDefinitionList"}
      }
    },
    "HyperParameterScalingType":{
      "type":"string",
      "enum":[
        "Auto",
        "Linear",
        "Logarithmic",
        "ReverseLogarithmic"
      ]
    },
    "HyperParameterSpecification":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Name":{"shape":"ParameterName"},
        "Description":{"shape":"EntityDescription"},
        "Type":{"shape":"ParameterType"},
        "Range":{"shape":"ParameterRange"},
        "IsTunable":{"shape":"Boolean"},
        "IsRequired":{"shape":"Boolean"},
        "DefaultValue":{"shape":"ParameterValue"}
      }
    },
    "HyperParameterSpecifications":{
      "type":"list",
      "member":{"shape":"HyperParameterSpecification"},
      "max":100,
      "min":0
    },
    "HyperParameterTrainingJobDefinition":{
      "type":"structure",
      "required":[
        "AlgorithmSpecification",
        "RoleArn",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "StaticHyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"HyperParameterAlgorithmSpecification"},
        "RoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "VpcConfig":{"shape":"VpcConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"}
      }
    },
    "HyperParameterTrainingJobSummaries":{
      "type":"list",
      "member":{"shape":"HyperParameterTrainingJobSummary"}
    },
    "HyperParameterTrainingJobSummary":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "TrainingJobArn",
        "CreationTime",
        "TrainingJobStatus",
        "TunedHyperParameters"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "TuningJobName":{"shape":"HyperParameterTuningJobName"},
        "CreationTime":{"shape":"Timestamp"},
        "TrainingStartTime":{"shape":"Timestamp"},
        "TrainingEndTime":{"shape":"Timestamp"},
        "TrainingJobStatus":{"shape":"TrainingJobStatus"},
        "TunedHyperParameters":{"shape":"HyperParameters"},
        "FailureReason":{"shape":"FailureReason"},
        "FinalHyperParameterTuningJobObjectiveMetric":{"shape":"FinalHyperParameterTuningJobObjectiveMetric"},
        "ObjectiveStatus":{"shape":"ObjectiveStatus"}
      }
    },
    "HyperParameterTuningJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:hyper-parameter-tuning-job/.*"
    },
    "HyperParameterTuningJobConfig":{
      "type":"structure",
      "required":[
        "Strategy",
        "HyperParameterTuningJobObjective",
        "ResourceLimits",
        "ParameterRanges"
      ],
      "members":{
        "Strategy":{"shape":"HyperParameterTuningJobStrategyType"},
        "HyperParameterTuningJobObjective":{"shape":"HyperParameterTuningJobObjective"},
        "ResourceLimits":{"shape":"ResourceLimits"},
        "ParameterRanges":{"shape":"ParameterRanges"},
        "TrainingJobEarlyStoppingType":{"shape":"TrainingJobEarlyStoppingType"}
      }
    },
    "HyperParameterTuningJobName":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "HyperParameterTuningJobObjective":{
      "type":"structure",
      "required":[
        "Type",
        "MetricName"
      ],
      "members":{
        "Type":{"shape":"HyperParameterTuningJobObjectiveType"},
        "MetricName":{"shape":"MetricName"}
      }
    },
    "HyperParameterTuningJobObjectiveType":{
      "type":"string",
      "enum":[
        "Maximize",
        "Minimize"
      ]
    },
    "HyperParameterTuningJobObjectives":{
      "type":"list",
      "member":{"shape":"HyperParameterTuningJobObjective"}
    },
    "HyperParameterTuningJobSortByOptions":{
      "type":"string",
      "enum":[
        "Name",
        "Status",
        "CreationTime"
      ]
    },
    "HyperParameterTuningJobStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "InProgress",
        "Failed",
        "Stopped",
        "Stopping"
      ]
    },
    "HyperParameterTuningJobStrategyType":{
      "type":"string",
      "enum":[
        "Bayesian",
        "Random"
      ]
    },
    "HyperParameterTuningJobSummaries":{
      "type":"list",
      "member":{"shape":"HyperParameterTuningJobSummary"}
    },
    "HyperParameterTuningJobSummary":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobArn",
        "HyperParameterTuningJobStatus",
        "Strategy",
        "CreationTime",
        "TrainingJobStatusCounters",
        "ObjectiveStatusCounters"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"},
        "HyperParameterTuningJobStatus":{"shape":"HyperParameterTuningJobStatus"},
        "Strategy":{"shape":"HyperParameterTuningJobStrategyType"},
        "CreationTime":{"shape":"Timestamp"},
        "HyperParameterTuningEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "TrainingJobStatusCounters":{"shape":"TrainingJobStatusCounters"},
        "ObjectiveStatusCounters":{"shape":"ObjectiveStatusCounters"},
        "ResourceLimits":{"shape":"ResourceLimits"}
      }
    },
    "HyperParameterTuningJobWarmStartConfig":{
      "type":"structure",
      "required":[
        "ParentHyperParameterTuningJobs",
        "WarmStartType"
      ],
      "members":{
        "ParentHyperParameterTuningJobs":{"shape":"ParentHyperParameterTuningJobs"},
        "WarmStartType":{"shape":"HyperParameterTuningJobWarmStartType"}
      }
    },
    "HyperParameterTuningJobWarmStartType":{
      "type":"string",
      "enum":[
        "IdenticalDataAndAlgorithm",
        "TransferLearning"
      ]
    },
    "HyperParameters":{
      "type":"map",
      "key":{"shape":"ParameterKey"},
      "value":{"shape":"ParameterValue"},
      "max":100,
      "min":0
    },
    "Image":{
      "type":"string",
      "max":255,
      "pattern":"[\\S]+"
    },
    "ImageDigest":{
      "type":"string",
      "max":72,
      "pattern":"^[Ss][Hh][Aa]256:[0-9a-fA-F]{64}$"
    },
    "InferenceSpecification":{
      "type":"structure",
      "required":[
        "Containers",
        "SupportedTransformInstanceTypes",
        "SupportedRealtimeInferenceInstanceTypes",
        "SupportedContentTypes",
        "SupportedResponseMIMETypes"
      ],
      "members":{
        "Containers":{"shape":"ModelPackageContainerDefinitionList"},
        "SupportedTransformInstanceTypes":{"shape":"TransformInstanceTypes"},
        "SupportedRealtimeInferenceInstanceTypes":{"shape":"RealtimeInferenceInstanceTypes"},
        "SupportedContentTypes":{"shape":"ContentTypes"},
        "SupportedResponseMIMETypes":{"shape":"ResponseMIMETypes"}
      }
    },
    "InputConfig":{
      "type":"structure",
      "required":[
        "S3Uri",
        "DataInputConfig",
        "Framework"
      ],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "DataInputConfig":{"shape":"DataInputConfig"},
        "Framework":{"shape":"Framework"}
      }
    },
    "InputDataConfig":{
      "type":"list",
      "member":{"shape":"Channel"},
      "max":8,
      "min":1
    },
    "InputModes":{
      "type":"list",
      "member":{"shape":"TrainingInputMode"},
      "min":1
    },
    "InstanceType":{
      "type":"string",
      "enum":[
        "ml.t2.medium",
        "ml.t2.large",
        "ml.t2.xlarge",
        "ml.t2.2xlarge",
        "ml.t3.medium",
        "ml.t3.large",
        "ml.t3.xlarge",
        "ml.t3.2xlarge",
        "ml.m4.xlarge",
        "ml.m4.2xlarge",
        "ml.m4.4xlarge",
        "ml.m4.10xlarge",
        "ml.m4.16xlarge",
        "ml.m5.xlarge",
        "ml.m5.2xlarge",
        "ml.m5.4xlarge",
        "ml.m5.12xlarge",
        "ml.m5.24xlarge",
        "ml.c4.xlarge",
        "ml.c4.2xlarge",
        "ml.c4.4xlarge",
        "ml.c4.8xlarge",
        "ml.c5.xlarge",
        "ml.c5.2xlarge",
        "ml.c5.4xlarge",
        "ml.c5.9xlarge",
        "ml.c5.18xlarge",
        "ml.c5d.xlarge",
        "ml.c5d.2xlarge",
        "ml.c5d.4xlarge",
        "ml.c5d.9xlarge",
        "ml.c5d.18xlarge",
        "ml.p2.xlarge",
        "ml.p2.8xlarge",
        "ml.p2.16xlarge",
        "ml.p3.2xlarge",
        "ml.p3.8xlarge",
        "ml.p3.16xlarge"
      ]
    },
    "IntegerParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"},
        "ScalingType":{"shape":"HyperParameterScalingType"}
      }
    },
    "IntegerParameterRangeSpecification":{
      "type":"structure",
      "required":[
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      }
    },
    "IntegerParameterRanges":{
      "type":"list",
      "member":{"shape":"IntegerParameterRange"},
      "max":20,
      "min":0
    },
    "JobReferenceCode":{
      "type":"string",
      "min":1,
      "pattern":".+"
    },
    "JobReferenceCodeContains":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".+"
    },
    "KmsKeyId":{
      "type":"string",
      "max":2048,
      "pattern":".*"
    },
    "LabelAttributeName":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "LabelCounter":{
      "type":"integer",
      "min":0
    },
    "LabelCounters":{
      "type":"structure",
      "members":{
        "TotalLabeled":{"shape":"LabelCounter"},
        "HumanLabeled":{"shape":"LabelCounter"},
        "MachineLabeled":{"shape":"LabelCounter"},
        "FailedNonRetryableError":{"shape":"LabelCounter"},
        "Unlabeled":{"shape":"LabelCounter"}
      }
    },
    "LabelCountersForWorkteam":{
      "type":"structure",
      "members":{
        "HumanLabeled":{"shape":"LabelCounter"},
        "PendingHuman":{"shape":"LabelCounter"},
        "Total":{"shape":"LabelCounter"}
      }
    },
    "LabelingJobAlgorithmSpecificationArn":{
      "type":"string",
      "max":2048,
      "pattern":"arn:.*"
    },
    "LabelingJobAlgorithmsConfig":{
      "type":"structure",
      "required":["LabelingJobAlgorithmSpecificationArn"],
      "members":{
        "LabelingJobAlgorithmSpecificationArn":{"shape":"LabelingJobAlgorithmSpecificationArn"},
        "InitialActiveLearningModelArn":{"shape":"ModelArn"},
        "LabelingJobResourceConfig":{"shape":"LabelingJobResourceConfig"}
      }
    },
    "LabelingJobArn":{
      "type":"string",
      "max":2048,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:labeling-job/.*"
    },
    "LabelingJobDataAttributes":{
      "type":"structure",
      "members":{
        "ContentClassifiers":{"shape":"ContentClassifiers"}
      }
    },
    "LabelingJobDataSource":{
      "type":"structure",
      "required":["S3DataSource"],
      "members":{
        "S3DataSource":{"shape":"LabelingJobS3DataSource"}
      }
    },
    "LabelingJobForWorkteamSummary":{
      "type":"structure",
      "required":[
        "JobReferenceCode",
        "WorkRequesterAccountId",
        "CreationTime"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "JobReferenceCode":{"shape":"JobReferenceCode"},
        "WorkRequesterAccountId":{"shape":"AccountId"},
        "CreationTime":{"shape":"Timestamp"},
        "LabelCounters":{"shape":"LabelCountersForWorkteam"}
      }
    },
    "LabelingJobForWorkteamSummaryList":{
      "type":"list",
      "member":{"shape":"LabelingJobForWorkteamSummary"}
    },
    "LabelingJobInputConfig":{
      "type":"structure",
      "required":["DataSource"],
      "members":{
        "DataSource":{"shape":"LabelingJobDataSource"},
        "DataAttributes":{"shape":"LabelingJobDataAttributes"}
      }
    },
    "LabelingJobName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "LabelingJobOutput":{
      "type":"structure",
      "required":["OutputDatasetS3Uri"],
      "members":{
        "OutputDatasetS3Uri":{"shape":"S3Uri"},
        "FinalActiveLearningModelArn":{"shape":"ModelArn"}
      }
    },
    "LabelingJobOutputConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "S3OutputPath":{"shape":"S3Uri"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "LabelingJobResourceConfig":{
      "type":"structure",
      "members":{
        "VolumeKmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "LabelingJobS3DataSource":{
      "type":"structure",
      "required":["ManifestS3Uri"],
      "members":{
        "ManifestS3Uri":{"shape":"S3Uri"}
      }
    },
    "LabelingJobStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "LabelingJobStoppingConditions":{
      "type":"structure",
      "members":{
        "MaxHumanLabeledObjectCount":{"shape":"MaxHumanLabeledObjectCount"},
        "MaxPercentageOfInputDatasetLabeled":{"shape":"MaxPercentageOfInputDatasetLabeled"}
      }
    },
    "LabelingJobSummary":{
      "type":"structure",
      "required":[
        "LabelingJobName",
        "LabelingJobArn",
        "CreationTime",
        "LastModifiedTime",
        "LabelingJobStatus",
        "LabelCounters",
        "WorkteamArn",
        "PreHumanTaskLambdaArn"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelingJobArn":{"shape":"LabelingJobArn"},
        "CreationTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "LabelingJobStatus":{"shape":"LabelingJobStatus"},
        "LabelCounters":{"shape":"LabelCounters"},
        "WorkteamArn":{"shape":"WorkteamArn"},
        "PreHumanTaskLambdaArn":{"shape":"LambdaFunctionArn"},
        "AnnotationConsolidationLambdaArn":{"shape":"LambdaFunctionArn"},
        "FailureReason":{"shape":"FailureReason"},
        "LabelingJobOutput":{"shape":"LabelingJobOutput"},
        "InputConfig":{"shape":"LabelingJobInputConfig"}
      }
    },
    "LabelingJobSummaryList":{
      "type":"list",
      "member":{"shape":"LabelingJobSummary"}
    },
    "LambdaFunctionArn":{
      "type":"string",
      "max":2048,
      "pattern":"arn:aws[a-z\\-]*:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_\\.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "LastModifiedTime":{"type":"timestamp"},
    "ListAlgorithmsInput":{
      "type":"structure",
      "members":{
        "CreationTimeAfter":{"shape":"CreationTime"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"NameContains"},
        "NextToken":{"shape":"NextToken"},
        "SortBy":{"shape":"AlgorithmSortBy"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListAlgorithmsOutput":{
      "type":"structure",
      "required":["AlgorithmSummaryList"],
      "members":{
        "AlgorithmSummaryList":{"shape":"AlgorithmSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCodeRepositoriesInput":{
      "type":"structure",
      "members":{
        "CreationTimeAfter":{"shape":"CreationTime"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"CodeRepositoryNameContains"},
        "NextToken":{"shape":"NextToken"},
        "SortBy":{"shape":"CodeRepositorySortBy"},
        "SortOrder":{"shape":"CodeRepositorySortOrder"}
      }
    },
    "ListCodeRepositoriesOutput":{
      "type":"structure",
      "required":["CodeRepositorySummaryList"],
      "members":{
        "CodeRepositorySummaryList":{"shape":"CodeRepositorySummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCompilationJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "CreationTimeAfter":{"shape":"CreationTime"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "LastModifiedTimeAfter":{"shape":"LastModifiedTime"},
        "LastModifiedTimeBefore":{"shape":"LastModifiedTime"},
        "NameContains":{"shape":"NameContains"},
        "StatusEquals":{"shape":"CompilationJobStatus"},
        "SortBy":{"shape":"ListCompilationJobsSortBy"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListCompilationJobsResponse":{
      "type":"structure",
      "required":["CompilationJobSummaries"],
      "members":{
        "CompilationJobSummaries":{"shape":"CompilationJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListCompilationJobsSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "ListEndpointConfigsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"EndpointConfigSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"EndpointConfigNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"}
      }
    },
    "ListEndpointConfigsOutput":{
      "type":"structure",
      "required":["EndpointConfigs"],
      "members":{
        "EndpointConfigs":{"shape":"EndpointConfigSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListEndpointsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"EndpointSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"EndpointNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "StatusEquals":{"shape":"EndpointStatus"}
      }
    },
    "ListEndpointsOutput":{
      "type":"structure",
      "required":["Endpoints"],
      "members":{
        "Endpoints":{"shape":"EndpointSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListHyperParameterTuningJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "SortBy":{"shape":"HyperParameterTuningJobSortByOptions"},
        "SortOrder":{"shape":"SortOrder"},
        "NameContains":{"shape":"NameContains"},
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "StatusEquals":{"shape":"HyperParameterTuningJobStatus"}
      }
    },
    "ListHyperParameterTuningJobsResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobSummaries"],
      "members":{
        "HyperParameterTuningJobSummaries":{"shape":"HyperParameterTuningJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListLabelingJobsForWorkteamRequest":{
      "type":"structure",
      "required":["WorkteamArn"],
      "members":{
        "WorkteamArn":{"shape":"WorkteamArn"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"},
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "JobReferenceCodeContains":{"shape":"JobReferenceCodeContains"},
        "SortBy":{"shape":"ListLabelingJobsForWorkteamSortByOptions"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListLabelingJobsForWorkteamResponse":{
      "type":"structure",
      "required":["LabelingJobSummaryList"],
      "members":{
        "LabelingJobSummaryList":{"shape":"LabelingJobForWorkteamSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListLabelingJobsForWorkteamSortByOptions":{
      "type":"string",
      "enum":["CreationTime"]
    },
    "ListLabelingJobsRequest":{
      "type":"structure",
      "members":{
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "MaxResults":{"shape":"MaxResults"},
        "NextToken":{"shape":"NextToken"},
        "NameContains":{"shape":"NameContains"},
        "SortBy":{"shape":"SortBy"},
        "SortOrder":{"shape":"SortOrder"},
        "StatusEquals":{"shape":"LabelingJobStatus"}
      }
    },
    "ListLabelingJobsResponse":{
      "type":"structure",
      "members":{
        "LabelingJobSummaryList":{"shape":"LabelingJobSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListModelPackagesInput":{
      "type":"structure",
      "members":{
        "CreationTimeAfter":{"shape":"CreationTime"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"NameContains"},
        "NextToken":{"shape":"NextToken"},
        "SortBy":{"shape":"ModelPackageSortBy"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListModelPackagesOutput":{
      "type":"structure",
      "required":["ModelPackageSummaryList"],
      "members":{
        "ModelPackageSummaryList":{"shape":"ModelPackageSummaryList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListModelsInput":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"ModelSortKey"},
        "SortOrder":{"shape":"OrderKey"},
        "NextToken":{"shape":"PaginationToken"},
        "MaxResults":{"shape":"MaxResults"},
        "NameContains":{"shape":"ModelNameContains"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "CreationTimeAfter":{"shape":"Timestamp"}
      }
    },
    "ListModelsOutput":{
      "type":"structure",
      "required":["Models"],
      "members":{
        "Models":{"shape":"ModelSummaryList"},
        "NextToken":{"shape":"PaginationToken"}
      }
    },
    "ListNotebookInstanceLifecycleConfigsInput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"},
        "SortBy":{"shape":"NotebookInstanceLifecycleConfigSortKey"},
        "SortOrder":{"shape":"NotebookInstanceLifecycleConfigSortOrder"},
        "NameContains":{"shape":"NotebookInstanceLifecycleConfigNameContains"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "CreationTimeAfter":{"shape":"CreationTime"},
        "LastModifiedTimeBefore":{"shape":"LastModifiedTime"},
        "LastModifiedTimeAfter":{"shape":"LastModifiedTime"}
      }
    },
    "ListNotebookInstanceLifecycleConfigsOutput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "NotebookInstanceLifecycleConfigs":{"shape":"NotebookInstanceLifecycleConfigSummaryList"}
      }
    },
    "ListNotebookInstancesInput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"},
        "SortBy":{"shape":"NotebookInstanceSortKey"},
        "SortOrder":{"shape":"NotebookInstanceSortOrder"},
        "NameContains":{"shape":"NotebookInstanceNameContains"},
        "CreationTimeBefore":{"shape":"CreationTime"},
        "CreationTimeAfter":{"shape":"CreationTime"},
        "LastModifiedTimeBefore":{"shape":"LastModifiedTime"},
        "LastModifiedTimeAfter":{"shape":"LastModifiedTime"},
        "StatusEquals":{"shape":"NotebookInstanceStatus"},
        "NotebookInstanceLifecycleConfigNameContains":{"shape":"NotebookInstanceLifecycleConfigName"},
        "DefaultCodeRepositoryContains":{"shape":"CodeRepositoryContains"},
        "AdditionalCodeRepositoryEquals":{"shape":"CodeRepositoryNameOrUrl"}
      }
    },
    "ListNotebookInstancesOutput":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "NotebookInstances":{"shape":"NotebookInstanceSummaryList"}
      }
    },
    "ListSubscribedWorkteamsRequest":{
      "type":"structure",
      "members":{
        "NameContains":{"shape":"WorkteamName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        }
      }
    },
    "ListSubscribedWorkteamsResponse":{
      "type":"structure",
      "required":["SubscribedWorkteams"],
      "members":{
        "SubscribedWorkteams":{"shape":"SubscribedWorkteams"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"ListTagsMaxResults"}
      }
    },
    "ListTagsMaxResults":{
      "type":"integer",
      "min":50
    },
    "ListTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTrainingJobsForHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":["HyperParameterTuningJobName"],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"},
        "StatusEquals":{"shape":"TrainingJobStatus"},
        "SortBy":{"shape":"TrainingJobSortByOptions"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListTrainingJobsForHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["TrainingJobSummaries"],
      "members":{
        "TrainingJobSummaries":{"shape":"HyperParameterTrainingJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTrainingJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        },
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "NameContains":{"shape":"NameContains"},
        "StatusEquals":{"shape":"TrainingJobStatus"},
        "SortBy":{"shape":"SortBy"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "ListTrainingJobsResponse":{
      "type":"structure",
      "required":["TrainingJobSummaries"],
      "members":{
        "TrainingJobSummaries":{"shape":"TrainingJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListTransformJobsRequest":{
      "type":"structure",
      "members":{
        "CreationTimeAfter":{"shape":"Timestamp"},
        "CreationTimeBefore":{"shape":"Timestamp"},
        "LastModifiedTimeAfter":{"shape":"Timestamp"},
        "LastModifiedTimeBefore":{"shape":"Timestamp"},
        "NameContains":{"shape":"NameContains"},
        "StatusEquals":{"shape":"TransformJobStatus"},
        "SortBy":{"shape":"SortBy"},
        "SortOrder":{"shape":"SortOrder"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        }
      }
    },
    "ListTransformJobsResponse":{
      "type":"structure",
      "required":["TransformJobSummaries"],
      "members":{
        "TransformJobSummaries":{"shape":"TransformJobSummaries"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListWorkteamsRequest":{
      "type":"structure",
      "members":{
        "SortBy":{"shape":"ListWorkteamsSortByOptions"},
        "SortOrder":{"shape":"SortOrder"},
        "NameContains":{"shape":"WorkteamName"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"MaxResults",
          "box":true
        }
      }
    },
    "ListWorkteamsResponse":{
      "type":"structure",
      "required":["Workteams"],
      "members":{
        "Workteams":{"shape":"Workteams"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListWorkteamsSortByOptions":{
      "type":"string",
      "enum":[
        "Name",
        "CreateDate"
      ]
    },
    "MaxConcurrentTaskCount":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "MaxConcurrentTransforms":{
      "type":"integer",
[...]
