{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-03-31",
    "endpointPrefix":"glue",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"AWS Glue",
    "serviceId":"Glue",
    "signatureVersion":"v4",
    "targetPrefix":"AWSGlue",
    "uid":"glue-2017-03-31"
  },
  "operations":{
    "BatchCreatePartition":{
      "name":"BatchCreatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreatePartitionRequest"},
      "output":{"shape":"BatchCreatePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "BatchDeleteConnection":{
      "name":"BatchDeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteConnectionRequest"},
      "output":{"shape":"BatchDeleteConnectionResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeletePartition":{
      "name":"BatchDeletePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeletePartitionRequest"},
      "output":{"shape":"BatchDeletePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeleteTable":{
      "name":"BatchDeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteTableRequest"},
      "output":{"shape":"BatchDeleteTableResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchDeleteTableVersion":{
      "name":"BatchDeleteTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteTableVersionRequest"},
      "output":{"shape":"BatchDeleteTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchGetCrawlers":{
      "name":"BatchGetCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetCrawlersRequest"},
      "output":{"shape":"BatchGetCrawlersResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "BatchGetDevEndpoints":{
      "name":"BatchGetDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDevEndpointsRequest"},
      "output":{"shape":"BatchGetDevEndpointsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetJobs":{
      "name":"BatchGetJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetJobsRequest"},
      "output":{"shape":"BatchGetJobsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchGetPartition":{
      "name":"BatchGetPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetPartitionRequest"},
      "output":{"shape":"BatchGetPartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "BatchGetTriggers":{
      "name":"BatchGetTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetTriggersRequest"},
      "output":{"shape":"BatchGetTriggersResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "BatchStopJobRun":{
      "name":"BatchStopJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchStopJobRunRequest"},
      "output":{"shape":"BatchStopJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "CreateClassifier":{
      "name":"CreateClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClassifierRequest"},
      "output":{"shape":"CreateClassifierResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionRequest"},
      "output":{"shape":"CreateConnectionResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateCrawler":{
      "name":"CreateCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCrawlerRequest"},
      "output":{"shape":"CreateCrawlerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateDatabase":{
      "name":"CreateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatabaseRequest"},
      "output":{"shape":"CreateDatabaseResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateDevEndpoint":{
      "name":"CreateDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDevEndpointRequest"},
      "output":{"shape":"CreateDevEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateJobRequest"},
      "output":{"shape":"CreateJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "CreatePartition":{
      "name":"CreatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePartitionRequest"},
      "output":{"shape":"CreatePartitionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateScript":{
      "name":"CreateScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateScriptRequest"},
      "output":{"shape":"CreateScriptResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "CreateSecurityConfiguration":{
      "name":"CreateSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityConfigurationRequest"},
      "output":{"shape":"CreateSecurityConfigurationResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ]
    },
    "CreateTable":{
      "name":"CreateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTableRequest"},
      "output":{"shape":"CreateTableResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "CreateTrigger":{
      "name":"CreateTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTriggerRequest"},
      "output":{"shape":"CreateTriggerResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "CreateUserDefinedFunction":{
      "name":"CreateUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserDefinedFunctionRequest"},
      "output":{"shape":"CreateUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "DeleteClassifier":{
      "name":"DeleteClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClassifierRequest"},
      "output":{"shape":"DeleteClassifierResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteCrawler":{
      "name":"DeleteCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCrawlerRequest"},
      "output":{"shape":"DeleteCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteDatabase":{
      "name":"DeleteDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatabaseRequest"},
      "output":{"shape":"DeleteDatabaseResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteDevEndpoint":{
      "name":"DeleteDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDevEndpointRequest"},
      "output":{"shape":"DeleteDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "DeleteJob":{
      "name":"DeleteJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteJobRequest"},
      "output":{"shape":"DeleteJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeletePartition":{
      "name":"DeletePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePartitionRequest"},
      "output":{"shape":"DeletePartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConditionCheckFailureException"}
      ]
    },
    "DeleteSecurityConfiguration":{
      "name":"DeleteSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSecurityConfigurationRequest"},
      "output":{"shape":"DeleteSecurityConfigurationResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTable":{
      "name":"DeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTableRequest"},
      "output":{"shape":"DeleteTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTableVersion":{
      "name":"DeleteTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTableVersionRequest"},
      "output":{"shape":"DeleteTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "DeleteTrigger":{
      "name":"DeleteTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTriggerRequest"},
      "output":{"shape":"DeleteTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "DeleteUserDefinedFunction":{
      "name":"DeleteUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserDefinedFunctionRequest"},
      "output":{"shape":"DeleteUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetCatalogImportStatus":{
      "name":"GetCatalogImportStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCatalogImportStatusRequest"},
      "output":{"shape":"GetCatalogImportStatusResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetClassifier":{
      "name":"GetClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClassifierRequest"},
      "output":{"shape":"GetClassifierResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetClassifiers":{
      "name":"GetClassifiers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClassifiersRequest"},
      "output":{"shape":"GetClassifiersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetConnection":{
      "name":"GetConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionRequest"},
      "output":{"shape":"GetConnectionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetConnections":{
      "name":"GetConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionsRequest"},
      "output":{"shape":"GetConnectionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetCrawler":{
      "name":"GetCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlerRequest"},
      "output":{"shape":"GetCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetCrawlerMetrics":{
      "name":"GetCrawlerMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlerMetricsRequest"},
      "output":{"shape":"GetCrawlerMetricsResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetCrawlers":{
      "name":"GetCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCrawlersRequest"},
      "output":{"shape":"GetCrawlersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDataCatalogEncryptionSettings":{
      "name":"GetDataCatalogEncryptionSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataCatalogEncryptionSettingsRequest"},
      "output":{"shape":"GetDataCatalogEncryptionSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDatabase":{
      "name":"GetDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatabaseRequest"},
      "output":{"shape":"GetDatabaseResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetDatabases":{
      "name":"GetDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatabasesRequest"},
      "output":{"shape":"GetDatabasesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetDataflowGraph":{
      "name":"GetDataflowGraph",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataflowGraphRequest"},
      "output":{"shape":"GetDataflowGraphResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetDevEndpoint":{
      "name":"GetDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevEndpointRequest"},
      "output":{"shape":"GetDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetDevEndpoints":{
      "name":"GetDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevEndpointsRequest"},
      "output":{"shape":"GetDevEndpointsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobRun":{
      "name":"GetJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRunRequest"},
      "output":{"shape":"GetJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobRuns":{
      "name":"GetJobRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRunsRequest"},
      "output":{"shape":"GetJobRunsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetJobs":{
      "name":"GetJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobsRequest"},
      "output":{"shape":"GetJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetMapping":{
      "name":"GetMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMappingRequest"},
      "output":{"shape":"GetMappingResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "GetPartition":{
      "name":"GetPartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartitionRequest"},
      "output":{"shape":"GetPartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetPartitions":{
      "name":"GetPartitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartitionsRequest"},
      "output":{"shape":"GetPartitionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetPlan":{
      "name":"GetPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPlanRequest"},
      "output":{"shape":"GetPlanResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"}
      ]
    },
    "GetSecurityConfiguration":{
      "name":"GetSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSecurityConfigurationRequest"},
      "output":{"shape":"GetSecurityConfigurationResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetSecurityConfigurations":{
      "name":"GetSecurityConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSecurityConfigurationsRequest"},
      "output":{"shape":"GetSecurityConfigurationsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetTable":{
      "name":"GetTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableRequest"},
      "output":{"shape":"GetTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTableVersion":{
      "name":"GetTableVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableVersionRequest"},
      "output":{"shape":"GetTableVersionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTableVersions":{
      "name":"GetTableVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableVersionsRequest"},
      "output":{"shape":"GetTableVersionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTables":{
      "name":"GetTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTablesRequest"},
      "output":{"shape":"GetTablesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetTags":{
      "name":"GetTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTagsRequest"},
      "output":{"shape":"GetTagsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "GetTrigger":{
      "name":"GetTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTriggerRequest"},
      "output":{"shape":"GetTriggerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetTriggers":{
      "name":"GetTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTriggersRequest"},
      "output":{"shape":"GetTriggersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "GetUserDefinedFunction":{
      "name":"GetUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserDefinedFunctionRequest"},
      "output":{"shape":"GetUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "GetUserDefinedFunctions":{
      "name":"GetUserDefinedFunctions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserDefinedFunctionsRequest"},
      "output":{"shape":"GetUserDefinedFunctionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "ImportCatalogToGlue":{
      "name":"ImportCatalogToGlue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCatalogToGlueRequest"},
      "output":{"shape":"ImportCatalogToGlueResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListCrawlers":{
      "name":"ListCrawlers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCrawlersRequest"},
      "output":{"shape":"ListCrawlersResponse"},
      "errors":[
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListDevEndpoints":{
      "name":"ListDevEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevEndpointsRequest"},
      "output":{"shape":"ListDevEndpointsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "ListTriggers":{
      "name":"ListTriggers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTriggersRequest"},
      "output":{"shape":"ListTriggersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "PutDataCatalogEncryptionSettings":{
      "name":"PutDataCatalogEncryptionSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDataCatalogEncryptionSettingsRequest"},
      "output":{"shape":"PutDataCatalogEncryptionSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConditionCheckFailureException"}
      ]
    },
    "ResetJobBookmark":{
      "name":"ResetJobBookmark",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetJobBookmarkRequest"},
      "output":{"shape":"ResetJobBookmarkResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartCrawler":{
      "name":"StartCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCrawlerRequest"},
      "output":{"shape":"StartCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartCrawlerSchedule":{
      "name":"StartCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCrawlerScheduleRequest"},
      "output":{"shape":"StartCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"SchedulerRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"NoScheduleException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StartJobRun":{
      "name":"StartJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartJobRunRequest"},
      "output":{"shape":"StartJobRunResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StartTrigger":{
      "name":"StartTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTriggerRequest"},
      "output":{"shape":"StartTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"ConcurrentRunsExceededException"}
      ]
    },
    "StopCrawler":{
      "name":"StopCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCrawlerRequest"},
      "output":{"shape":"StopCrawlerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerNotRunningException"},
        {"shape":"CrawlerStoppingException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StopCrawlerSchedule":{
      "name":"StopCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCrawlerScheduleRequest"},
      "output":{"shape":"StopCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"SchedulerNotRunningException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "StopTrigger":{
      "name":"StopTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTriggerRequest"},
      "output":{"shape":"StopTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ]
    },
    "UpdateClassifier":{
      "name":"UpdateClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateClassifierRequest"},
      "output":{"shape":"UpdateClassifierResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateConnection":{
      "name":"UpdateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionRequest"},
      "output":{"shape":"UpdateConnectionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateCrawler":{
      "name":"UpdateCrawler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCrawlerRequest"},
      "output":{"shape":"UpdateCrawlerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"CrawlerRunningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateCrawlerSchedule":{
      "name":"UpdateCrawlerSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCrawlerScheduleRequest"},
      "output":{"shape":"UpdateCrawlerScheduleResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"VersionMismatchException"},
        {"shape":"SchedulerTransitioningException"},
        {"shape":"OperationTimeoutException"}
      ]
    },
    "UpdateDatabase":{
      "name":"UpdateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatabaseRequest"},
      "output":{"shape":"UpdateDatabaseResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateDevEndpoint":{
      "name":"UpdateDevEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDevEndpointRequest"},
      "output":{"shape":"UpdateDevEndpointResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InvalidInputException"},
        {"shape":"ValidationException"}
      ]
    },
    "UpdateJob":{
      "name":"UpdateJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateJobRequest"},
      "output":{"shape":"UpdateJobResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "UpdatePartition":{
      "name":"UpdatePartition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePartitionRequest"},
      "output":{"shape":"UpdatePartitionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateTable":{
      "name":"UpdateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTableRequest"},
      "output":{"shape":"UpdateTableResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"GlueEncryptionException"}
      ]
    },
    "UpdateTrigger":{
      "name":"UpdateTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTriggerRequest"},
      "output":{"shape":"UpdateTriggerResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"}
      ]
    },
    "UpdateUserDefinedFunction":{
      "name":"UpdateUserDefinedFunction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserDefinedFunctionRequest"},
      "output":{"shape":"UpdateUserDefinedFunctionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"}
      ]
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "Action":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "Arguments":{"shape":"GenericMap"},
        "Timeout":{"shape":"Timeout"},
        "NotificationProperty":{"shape":"NotificationProperty"},
        "SecurityConfiguration":{"shape":"NameString"}
      }
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"Action"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "AttemptCount":{"type":"integer"},
    "BatchCreatePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionInputList"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionInputList":{"shape":"PartitionInputList"}
      }
    },
    "BatchCreatePartitionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"PartitionErrors"}
      }
    },
    "BatchDeleteConnectionRequest":{
      "type":"structure",
      "required":["ConnectionNameList"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "ConnectionNameList":{"shape":"DeleteConnectionNameList"}
      }
    },
    "BatchDeleteConnectionResponse":{
      "type":"structure",
      "members":{
        "Succeeded":{"shape":"NameStringList"},
        "Errors":{"shape":"ErrorByName"}
      }
    },
    "BatchDeletePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionsToDelete"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionsToDelete":{"shape":"BatchDeletePartitionValueList"}
      }
    },
    "BatchDeletePartitionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"PartitionErrors"}
      }
    },
    "BatchDeletePartitionValueList":{
      "type":"list",
      "member":{"shape":"PartitionValueList"},
      "max":25,
      "min":0
    },
    "BatchDeleteTableNameList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "max":100,
      "min":0
    },
    "BatchDeleteTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TablesToDelete"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TablesToDelete":{"shape":"BatchDeleteTableNameList"}
      }
    },
    "BatchDeleteTableResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"TableErrors"}
      }
    },
    "BatchDeleteTableVersionList":{
      "type":"list",
      "member":{"shape":"VersionString"},
      "max":100,
      "min":0
    },
    "BatchDeleteTableVersionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "VersionIds"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "VersionIds":{"shape":"BatchDeleteTableVersionList"}
      }
    },
    "BatchDeleteTableVersionResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"TableVersionErrors"}
      }
    },
    "BatchGetCrawlersRequest":{
      "type":"structure",
      "required":["CrawlerNames"],
      "members":{
        "CrawlerNames":{"shape":"CrawlerNameList"}
      }
    },
    "BatchGetCrawlersResponse":{
      "type":"structure",
      "members":{
        "Crawlers":{"shape":"CrawlerList"},
        "CrawlersNotFound":{"shape":"CrawlerNameList"}
      }
    },
    "BatchGetDevEndpointsRequest":{
      "type":"structure",
      "required":["DevEndpointNames"],
      "members":{
        "DevEndpointNames":{"shape":"DevEndpointNames"}
      }
    },
    "BatchGetDevEndpointsResponse":{
      "type":"structure",
      "members":{
        "DevEndpoints":{"shape":"DevEndpointList"},
        "DevEndpointsNotFound":{"shape":"DevEndpointNames"}
      }
    },
    "BatchGetJobsRequest":{
      "type":"structure",
      "required":["JobNames"],
      "members":{
        "JobNames":{"shape":"JobNameList"}
      }
    },
    "BatchGetJobsResponse":{
      "type":"structure",
      "members":{
        "Jobs":{"shape":"JobList"},
        "JobsNotFound":{"shape":"JobNameList"}
      }
    },
    "BatchGetPartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionsToGet"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionsToGet":{"shape":"BatchGetPartitionValueList"}
      }
    },
    "BatchGetPartitionResponse":{
      "type":"structure",
      "members":{
        "Partitions":{"shape":"PartitionList"},
        "UnprocessedKeys":{"shape":"BatchGetPartitionValueList"}
      }
    },
    "BatchGetPartitionValueList":{
      "type":"list",
      "member":{"shape":"PartitionValueList"},
      "max":1000,
      "min":0
    },
    "BatchGetTriggersRequest":{
      "type":"structure",
      "required":["TriggerNames"],
      "members":{
        "TriggerNames":{"shape":"TriggerNameList"}
      }
    },
    "BatchGetTriggersResponse":{
      "type":"structure",
      "members":{
        "Triggers":{"shape":"TriggerList"},
        "TriggersNotFound":{"shape":"TriggerNameList"}
      }
    },
    "BatchStopJobRunError":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunId":{"shape":"IdString"},
        "ErrorDetail":{"shape":"ErrorDetail"}
      }
    },
    "BatchStopJobRunErrorList":{
      "type":"list",
      "member":{"shape":"BatchStopJobRunError"}
    },
    "BatchStopJobRunJobRunIdList":{
      "type":"list",
      "member":{"shape":"IdString"},
      "max":25,
      "min":1
    },
    "BatchStopJobRunRequest":{
      "type":"structure",
      "required":[
        "JobName",
        "JobRunIds"
      ],
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunIds":{"shape":"BatchStopJobRunJobRunIdList"}
      }
    },
    "BatchStopJobRunResponse":{
      "type":"structure",
      "members":{
        "SuccessfulSubmissions":{"shape":"BatchStopJobRunSuccessfulSubmissionList"},
        "Errors":{"shape":"BatchStopJobRunErrorList"}
      }
    },
    "BatchStopJobRunSuccessfulSubmission":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"},
        "JobRunId":{"shape":"IdString"}
      }
    },
    "BatchStopJobRunSuccessfulSubmissionList":{
      "type":"list",
      "member":{"shape":"BatchStopJobRunSuccessfulSubmission"}
    },
    "Boolean":{"type":"boolean"},
    "BooleanNullable":{"type":"boolean"},
    "BooleanValue":{"type":"boolean"},
    "BoundedPartitionValueList":{
      "type":"list",
      "member":{"shape":"ValueString"},
      "max":100,
      "min":0
    },
    "CatalogEncryptionMode":{
      "type":"string",
      "enum":[
        "DISABLED",
        "SSE-KMS"
      ]
    },
    "CatalogEntries":{
      "type":"list",
      "member":{"shape":"CatalogEntry"}
    },
    "CatalogEntry":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"}
      }
    },
    "CatalogIdString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "CatalogImportStatus":{
      "type":"structure",
      "members":{
        "ImportCompleted":{"shape":"Boolean"},
        "ImportTime":{"shape":"Timestamp"},
        "ImportedBy":{"shape":"NameString"}
      }
    },
    "Classification":{"type":"string"},
    "Classifier":{
      "type":"structure",
      "members":{
        "GrokClassifier":{"shape":"GrokClassifier"},
        "XMLClassifier":{"shape":"XMLClassifier"},
        "JsonClassifier":{"shape":"JsonClassifier"},
        "CsvClassifier":{"shape":"CsvClassifier"}
      }
    },
    "ClassifierList":{
      "type":"list",
      "member":{"shape":"Classifier"}
    },
    "ClassifierNameList":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "CloudWatchEncryption":{
      "type":"structure",
      "members":{
        "CloudWatchEncryptionMode":{"shape":"CloudWatchEncryptionMode"},
        "KmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "CloudWatchEncryptionMode":{
      "type":"string",
      "enum":[
        "DISABLED",
        "SSE-KMS"
      ]
    },
    "CodeGenArgName":{"type":"string"},
    "CodeGenArgValue":{"type":"string"},
    "CodeGenEdge":{
      "type":"structure",
      "required":[
        "Source",
        "Target"
      ],
      "members":{
        "Source":{"shape":"CodeGenIdentifier"},
        "Target":{"shape":"CodeGenIdentifier"},
        "TargetParameter":{"shape":"CodeGenArgName"}
      }
    },
    "CodeGenIdentifier":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z_][A-Za-z0-9_]*"
    },
    "CodeGenNode":{
      "type":"structure",
      "required":[
        "Id",
        "NodeType",
        "Args"
      ],
      "members":{
        "Id":{"shape":"CodeGenIdentifier"},
        "NodeType":{"shape":"CodeGenNodeType"},
        "Args":{"shape":"CodeGenNodeArgs"},
        "LineNumber":{"shape":"Integer"}
      }
    },
    "CodeGenNodeArg":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{"shape":"CodeGenArgName"},
        "Value":{"shape":"CodeGenArgValue"},
        "Param":{"shape":"Boolean"}
      }
    },
    "CodeGenNodeArgs":{
      "type":"list",
      "member":{"shape":"CodeGenNodeArg"},
      "max":50,
      "min":0
    },
    "CodeGenNodeType":{"type":"string"},
    "Column":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Type":{"shape":"ColumnTypeString"},
        "Comment":{"shape":"CommentString"}
      }
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"Column"}
    },
    "ColumnTypeString":{
      "type":"string",
      "max":131072,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ColumnValueStringList":{
      "type":"list",
      "member":{"shape":"ColumnValuesString"}
    },
    "ColumnValuesString":{"type":"string"},
    "CommentString":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ConcurrentRunsExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "LogicalOperator":{"shape":"LogicalOperator"},
        "JobName":{"shape":"NameString"},
        "State":{"shape":"JobRunState"}
      }
    },
    "ConditionCheckFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ConditionList":{
      "type":"list",
      "member":{"shape":"Condition"}
    },
    "Connection":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "ConnectionType":{"shape":"ConnectionType"},
        "MatchCriteria":{"shape":"MatchCriteria"},
        "ConnectionProperties":{"shape":"ConnectionProperties"},
        "PhysicalConnectionRequirements":{"shape":"PhysicalConnectionRequirements"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdatedTime":{"shape":"Timestamp"},
        "LastUpdatedBy":{"shape":"NameString"}
      }
    },
    "ConnectionInput":{
      "type":"structure",
      "required":[
        "Name",
        "ConnectionType",
        "ConnectionProperties"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "ConnectionType":{"shape":"ConnectionType"},
        "MatchCriteria":{"shape":"MatchCriteria"},
        "ConnectionProperties":{"shape":"ConnectionProperties"},
        "PhysicalConnectionRequirements":{"shape":"PhysicalConnectionRequirements"}
      }
    },
    "ConnectionList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "ConnectionName":{"type":"string"},
    "ConnectionPasswordEncryption":{
      "type":"structure",
      "required":["ReturnConnectionPasswordEncrypted"],
      "members":{
        "ReturnConnectionPasswordEncrypted":{"shape":"Boolean"},
        "AwsKmsKeyId":{"shape":"NameString"}
      }
    },
    "ConnectionProperties":{
      "type":"map",
      "key":{"shape":"ConnectionPropertyKey"},
      "value":{"shape":"ValueString"},
      "max":100,
      "min":0
    },
    "ConnectionPropertyKey":{
      "type":"string",
      "enum":[
        "HOST",
        "PORT",
        "USERNAME",
        "PASSWORD",
        "ENCRYPTED_PASSWORD",
        "JDBC_DRIVER_JAR_URI",
        "JDBC_DRIVER_CLASS_NAME",
        "JDBC_ENGINE",
        "JDBC_ENGINE_VERSION",
        "CONFIG_FILES",
        "INSTANCE_ID",
        "JDBC_CONNECTION_URL",
        "JDBC_ENFORCE_SSL"
      ]
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "JDBC",
        "SFTP"
      ]
    },
    "ConnectionsList":{
      "type":"structure",
      "members":{
        "Connections":{"shape":"StringList"}
      }
    },
    "Crawler":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "Role":{"shape":"Role"},
        "Targets":{"shape":"CrawlerTargets"},
        "DatabaseName":{"shape":"DatabaseName"},
        "Description":{"shape":"DescriptionString"},
        "Classifiers":{"shape":"ClassifierNameList"},
        "SchemaChangePolicy":{"shape":"SchemaChangePolicy"},
        "State":{"shape":"CrawlerState"},
        "TablePrefix":{"shape":"TablePrefix"},
        "Schedule":{"shape":"Schedule"},
        "CrawlElapsedTime":{"shape":"MillisecondsCount"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdated":{"shape":"Timestamp"},
        "LastCrawl":{"shape":"LastCrawlInfo"},
        "Version":{"shape":"VersionId"},
        "Configuration":{"shape":"CrawlerConfiguration"},
        "CrawlerSecurityConfiguration":{"shape":"CrawlerSecurityConfiguration"}
      }
    },
    "CrawlerConfiguration":{"type":"string"},
    "CrawlerList":{
      "type":"list",
      "member":{"shape":"Crawler"}
    },
    "CrawlerMetrics":{
      "type":"structure",
      "members":{
        "CrawlerName":{"shape":"NameString"},
        "TimeLeftSeconds":{"shape":"NonNegativeDouble"},
        "StillEstimating":{"shape":"Boolean"},
        "LastRuntimeSeconds":{"shape":"NonNegativeDouble"},
        "MedianRuntimeSeconds":{"shape":"NonNegativeDouble"},
        "TablesCreated":{"shape":"NonNegativeInteger"},
        "TablesUpdated":{"shape":"NonNegativeInteger"},
        "TablesDeleted":{"shape":"NonNegativeInteger"}
      }
    },
    "CrawlerMetricsList":{
      "type":"list",
      "member":{"shape":"CrawlerMetrics"}
    },
    "CrawlerNameList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "max":100,
      "min":0
    },
    "CrawlerNotRunningException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerRunningException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerSecurityConfiguration":{
      "type":"string",
      "max":128,
      "min":0
    },
    "CrawlerState":{
      "type":"string",
      "enum":[
        "READY",
        "RUNNING",
        "STOPPING"
      ]
    },
    "CrawlerStoppingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "CrawlerTargets":{
      "type":"structure",
      "members":{
        "S3Targets":{"shape":"S3TargetList"},
        "JdbcTargets":{"shape":"JdbcTargetList"},
        "DynamoDBTargets":{"shape":"DynamoDBTargetList"}
      }
    },
    "CreateClassifierRequest":{
      "type":"structure",
      "members":{
        "GrokClassifier":{"shape":"CreateGrokClassifierRequest"},
        "XMLClassifier":{"shape":"CreateXMLClassifierRequest"},
        "JsonClassifier":{"shape":"CreateJsonClassifierRequest"},
        "CsvClassifier":{"shape":"CreateCsvClassifierRequest"}
      }
    },
    "CreateClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateConnectionRequest":{
      "type":"structure",
      "required":["ConnectionInput"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "ConnectionInput":{"shape":"ConnectionInput"}
      }
    },
    "CreateConnectionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateCrawlerRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Role",
        "DatabaseName",
        "Targets"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Role":{"shape":"Role"},
        "DatabaseName":{"shape":"DatabaseName"},
        "Description":{"shape":"DescriptionString"},
        "Targets":{"shape":"CrawlerTargets"},
        "Schedule":{"shape":"CronExpression"},
        "Classifiers":{"shape":"ClassifierNameList"},
        "TablePrefix":{"shape":"TablePrefix"},
        "SchemaChangePolicy":{"shape":"SchemaChangePolicy"},
        "Configuration":{"shape":"CrawlerConfiguration"},
        "CrawlerSecurityConfiguration":{"shape":"CrawlerSecurityConfiguration"},
        "Tags":{"shape":"TagsMap"}
      }
    },
    "CreateCrawlerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateCsvClassifierRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Delimiter":{"shape":"CsvColumnDelimiter"},
        "QuoteSymbol":{"shape":"CsvQuoteSymbol"},
        "ContainsHeader":{"shape":"CsvHeaderOption"},
        "Header":{"shape":"CsvHeader"},
        "DisableValueTrimming":{"shape":"NullableBoolean"},
        "AllowSingleColumn":{"shape":"NullableBoolean"}
      }
    },
    "CreateDatabaseRequest":{
      "type":"structure",
      "required":["DatabaseInput"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseInput":{"shape":"DatabaseInput"}
      }
    },
    "CreateDatabaseResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateDevEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointName",
        "RoleArn"
      ],
      "members":{
        "EndpointName":{"shape":"GenericString"},
        "RoleArn":{"shape":"RoleArn"},
        "SecurityGroupIds":{"shape":"StringList"},
        "SubnetId":{"shape":"GenericString"},
        "PublicKey":{"shape":"GenericString"},
        "PublicKeys":{"shape":"PublicKeysList"},
        "NumberOfNodes":{"shape":"IntegerValue"},
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"},
        "SecurityConfiguration":{"shape":"NameString"},
        "Tags":{"shape":"TagsMap"},
        "Arguments":{"shape":"MapValue"}
      }
    },
    "CreateDevEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointName":{"shape":"GenericString"},
        "Status":{"shape":"GenericString"},
        "SecurityGroupIds":{"shape":"StringList"},
        "SubnetId":{"shape":"GenericString"},
        "RoleArn":{"shape":"RoleArn"},
        "YarnEndpointAddress":{"shape":"GenericString"},
        "ZeppelinRemoteSparkInterpreterPort":{"shape":"IntegerValue"},
        "NumberOfNodes":{"shape":"IntegerValue"},
        "AvailabilityZone":{"shape":"GenericString"},
        "VpcId":{"shape":"GenericString"},
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"},
        "FailureReason":{"shape":"GenericString"},
        "SecurityConfiguration":{"shape":"NameString"},
        "CreatedTimestamp":{"shape":"TimestampValue"},
        "Arguments":{"shape":"MapValue"}
      }
    },
    "CreateGrokClassifierRequest":{
      "type":"structure",
      "required":[
        "Classification",
        "Name",
        "GrokPattern"
      ],
      "members":{
        "Classification":{"shape":"Classification"},
        "Name":{"shape":"NameString"},
        "GrokPattern":{"shape":"GrokPattern"},
        "CustomPatterns":{"shape":"CustomPatterns"}
      }
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Role",
        "Command"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "LogUri":{"shape":"UriString"},
        "Role":{"shape":"RoleString"},
        "ExecutionProperty":{"shape":"ExecutionProperty"},
        "Command":{"shape":"JobCommand"},
        "DefaultArguments":{"shape":"GenericMap"},
        "Connections":{"shape":"ConnectionsList"},
        "MaxRetries":{"shape":"MaxRetries"},
        "AllocatedCapacity":{
          "shape":"IntegerValue",
          "deprecated":true,
          "deprecatedMessage":"This property is deprecated, use MaxCapacity instead."
        },
        "Timeout":{"shape":"Timeout"},
        "MaxCapacity":{"shape":"NullableDouble"},
        "NotificationProperty":{"shape":"NotificationProperty"},
        "WorkerType":{"shape":"WorkerType"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "SecurityConfiguration":{"shape":"NameString"},
        "Tags":{"shape":"TagsMap"}
      }
    },
    "CreateJobResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "CreateJsonClassifierRequest":{
      "type":"structure",
      "required":[
        "Name",
        "JsonPath"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "JsonPath":{"shape":"JsonPath"}
      }
    },
    "CreatePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionInput":{"shape":"PartitionInput"}
      }
    },
    "CreatePartitionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateScriptRequest":{
      "type":"structure",
      "members":{
        "DagNodes":{"shape":"DagNodes"},
        "DagEdges":{"shape":"DagEdges"},
        "Language":{"shape":"Language"}
      }
    },
    "CreateScriptResponse":{
      "type":"structure",
      "members":{
        "PythonScript":{"shape":"PythonScript"},
        "ScalaCode":{"shape":"ScalaCode"}
      }
    },
    "CreateSecurityConfigurationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "EncryptionConfiguration"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"}
      }
    },
    "CreateSecurityConfigurationResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "CreatedTimestamp":{"shape":"TimestampValue"}
      }
    },
    "CreateTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableInput":{"shape":"TableInput"}
      }
    },
    "CreateTableResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateTriggerRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Type",
        "Actions"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Type":{"shape":"TriggerType"},
        "Schedule":{"shape":"GenericString"},
        "Predicate":{"shape":"Predicate"},
        "Actions":{"shape":"ActionList"},
        "Description":{"shape":"DescriptionString"},
        "StartOnCreation":{"shape":"BooleanValue"},
        "Tags":{"shape":"TagsMap"}
      }
    },
    "CreateTriggerResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "CreateUserDefinedFunctionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "FunctionInput"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "FunctionInput":{"shape":"UserDefinedFunctionInput"}
      }
    },
    "CreateUserDefinedFunctionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateXMLClassifierRequest":{
      "type":"structure",
      "required":[
        "Classification",
        "Name"
      ],
      "members":{
        "Classification":{"shape":"Classification"},
        "Name":{"shape":"NameString"},
        "RowTag":{"shape":"RowTag"}
      }
    },
    "CronExpression":{"type":"string"},
    "CsvClassifier":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdated":{"shape":"Timestamp"},
        "Version":{"shape":"VersionId"},
        "Delimiter":{"shape":"CsvColumnDelimiter"},
        "QuoteSymbol":{"shape":"CsvQuoteSymbol"},
        "ContainsHeader":{"shape":"CsvHeaderOption"},
        "Header":{"shape":"CsvHeader"},
        "DisableValueTrimming":{"shape":"NullableBoolean"},
        "AllowSingleColumn":{"shape":"NullableBoolean"}
      }
    },
    "CsvColumnDelimiter":{
      "type":"string",
      "max":1,
      "min":1,
      "pattern":"[^\\r\\n]"
    },
    "CsvHeader":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "CsvHeaderOption":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "PRESENT",
        "ABSENT"
      ]
    },
    "CsvQuoteSymbol":{
      "type":"string",
      "max":1,
      "min":1,
      "pattern":"[^\\r\\n]"
    },
    "CustomPatterns":{
      "type":"string",
      "max":16000,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "DagEdges":{
      "type":"list",
      "member":{"shape":"CodeGenEdge"}
    },
    "DagNodes":{
      "type":"list",
      "member":{"shape":"CodeGenNode"}
    },
    "DataCatalogEncryptionSettings":{
      "type":"structure",
      "members":{
        "EncryptionAtRest":{"shape":"EncryptionAtRest"},
        "ConnectionPasswordEncryption":{"shape":"ConnectionPasswordEncryption"}
      }
    },
    "Database":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "LocationUri":{"shape":"URI"},
        "Parameters":{"shape":"ParametersMap"},
        "CreateTime":{"shape":"Timestamp"}
      }
    },
    "DatabaseInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "LocationUri":{"shape":"URI"},
        "Parameters":{"shape":"ParametersMap"}
      }
    },
    "DatabaseList":{
      "type":"list",
      "member":{"shape":"Database"}
    },
    "DatabaseName":{"type":"string"},
    "DeleteBehavior":{
      "type":"string",
      "enum":[
        "LOG",
        "DELETE_FROM_DATABASE",
        "DEPRECATE_IN_DATABASE"
      ]
    },
    "DeleteClassifierRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConnectionNameList":{
      "type":"list",
      "member":{"shape":"NameString"},
      "max":25,
      "min":0
    },
    "DeleteConnectionRequest":{
      "type":"structure",
      "required":["ConnectionName"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "ConnectionName":{"shape":"NameString"}
      }
    },
    "DeleteConnectionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteCrawlerRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteCrawlerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDatabaseRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteDatabaseResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDevEndpointRequest":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"GenericString"}
      }
    },
    "DeleteDevEndpointResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteJobRequest":{
      "type":"structure",
      "required":["JobName"],
      "members":{
        "JobName":{"shape":"NameString"}
      }
    },
    "DeleteJobResponse":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"NameString"}
      }
    },
    "DeletePartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionValues"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionValues":{"shape":"ValueStringList"}
      }
    },
    "DeletePartitionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteResourcePolicyRequest":{
      "type":"structure",
      "members":{
        "PolicyHashCondition":{"shape":"HashString"}
      }
    },
    "DeleteResourcePolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteSecurityConfigurationRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteSecurityConfigurationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "Name"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteTableResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTableVersionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "VersionId"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "VersionId":{"shape":"VersionString"}
      }
    },
    "DeleteTableVersionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTriggerRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteTriggerResponse":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "DeleteUserDefinedFunctionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "FunctionName"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "FunctionName":{"shape":"NameString"}
      }
    },
    "DeleteUserDefinedFunctionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescriptionString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "DescriptionStringRemovable":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "DevEndpoint":{
      "type":"structure",
      "members":{
        "EndpointName":{"shape":"GenericString"},
        "RoleArn":{"shape":"RoleArn"},
        "SecurityGroupIds":{"shape":"StringList"},
        "SubnetId":{"shape":"GenericString"},
        "YarnEndpointAddress":{"shape":"GenericString"},
        "PrivateAddress":{"shape":"GenericString"},
        "ZeppelinRemoteSparkInterpreterPort":{"shape":"IntegerValue"},
        "PublicAddress":{"shape":"GenericString"},
        "Status":{"shape":"GenericString"},
        "NumberOfNodes":{"shape":"IntegerValue"},
        "AvailabilityZone":{"shape":"GenericString"},
        "VpcId":{"shape":"GenericString"},
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"},
        "FailureReason":{"shape":"GenericString"},
        "LastUpdateStatus":{"shape":"GenericString"},
        "CreatedTimestamp":{"shape":"TimestampValue"},
        "LastModifiedTimestamp":{"shape":"TimestampValue"},
        "PublicKey":{"shape":"GenericString"},
        "PublicKeys":{"shape":"PublicKeysList"},
        "SecurityConfiguration":{"shape":"NameString"},
        "Arguments":{"shape":"MapValue"}
      }
    },
    "DevEndpointCustomLibraries":{
      "type":"structure",
      "members":{
        "ExtraPythonLibsS3Path":{"shape":"GenericString"},
        "ExtraJarsS3Path":{"shape":"GenericString"}
      }
    },
    "DevEndpointList":{
      "type":"list",
      "member":{"shape":"DevEndpoint"}
    },
    "DevEndpointNameList":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "DevEndpointNames":{
      "type":"list",
      "member":{"shape":"GenericString"},
      "max":25,
      "min":1
    },
    "DynamoDBTarget":{
      "type":"structure",
      "members":{
        "Path":{"shape":"Path"}
      }
    },
    "DynamoDBTargetList":{
      "type":"list",
      "member":{"shape":"DynamoDBTarget"}
    },
    "EncryptionAtRest":{
      "type":"structure",
      "required":["CatalogEncryptionMode"],
      "members":{
        "CatalogEncryptionMode":{"shape":"CatalogEncryptionMode"},
        "SseAwsKmsKeyId":{"shape":"NameString"}
      }
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "members":{
        "S3Encryption":{"shape":"S3EncryptionList"},
        "CloudWatchEncryption":{"shape":"CloudWatchEncryption"},
        "JobBookmarksEncryption":{"shape":"JobBookmarksEncryption"}
      }
    },
    "EntityNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ErrorByName":{
      "type":"map",
      "key":{"shape":"NameString"},
      "value":{"shape":"ErrorDetail"}
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "ErrorCode":{"shape":"NameString"},
        "ErrorMessage":{"shape":"DescriptionString"}
      }
    },
    "ErrorString":{"type":"string"},
    "ExecutionProperty":{
      "type":"structure",
      "members":{
        "MaxConcurrentRuns":{"shape":"MaxConcurrentRuns"}
      }
    },
    "ExecutionTime":{"type":"integer"},
    "ExistCondition":{
      "type":"string",
      "enum":[
        "MUST_EXIST",
        "NOT_EXIST",
        "NONE"
      ]
    },
    "FieldType":{"type":"string"},
    "FilterString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "FormatString":{
      "type":"string",
      "max":128,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "GenericMap":{
      "type":"map",
      "key":{"shape":"GenericString"},
      "value":{"shape":"GenericString"}
    },
    "GenericString":{"type":"string"},
    "GetCatalogImportStatusRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{"shape":"CatalogIdString"}
      }
    },
    "GetCatalogImportStatusResponse":{
      "type":"structure",
      "members":{
        "ImportStatus":{"shape":"CatalogImportStatus"}
      }
    },
    "GetClassifierRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "GetClassifierResponse":{
      "type":"structure",
      "members":{
        "Classifier":{"shape":"Classifier"}
      }
    },
    "GetClassifiersRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"PageSize"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetClassifiersResponse":{
      "type":"structure",
      "members":{
        "Classifiers":{"shape":"ClassifierList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetConnectionRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "Name":{"shape":"NameString"},
        "HidePassword":{"shape":"Boolean"}
      }
    },
    "GetConnectionResponse":{
      "type":"structure",
      "members":{
        "Connection":{"shape":"Connection"}
      }
    },
    "GetConnectionsFilter":{
      "type":"structure",
      "members":{
        "MatchCriteria":{"shape":"MatchCriteria"},
        "ConnectionType":{"shape":"ConnectionType"}
      }
    },
    "GetConnectionsRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "Filter":{"shape":"GetConnectionsFilter"},
        "HidePassword":{"shape":"Boolean"},
        "NextToken":{"shape":"Token"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetConnectionsResponse":{
      "type":"structure",
      "members":{
        "ConnectionList":{"shape":"ConnectionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetCrawlerMetricsRequest":{
      "type":"structure",
      "members":{
        "CrawlerNameList":{"shape":"CrawlerNameList"},
        "MaxResults":{"shape":"PageSize"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetCrawlerMetricsResponse":{
      "type":"structure",
      "members":{
        "CrawlerMetricsList":{"shape":"CrawlerMetricsList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetCrawlerRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "GetCrawlerResponse":{
      "type":"structure",
      "members":{
        "Crawler":{"shape":"Crawler"}
      }
    },
    "GetCrawlersRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"PageSize"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetCrawlersResponse":{
      "type":"structure",
      "members":{
        "Crawlers":{"shape":"CrawlerList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetDataCatalogEncryptionSettingsRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{"shape":"CatalogIdString"}
      }
    },
    "GetDataCatalogEncryptionSettingsResponse":{
      "type":"structure",
      "members":{
        "DataCatalogEncryptionSettings":{"shape":"DataCatalogEncryptionSettings"}
      }
    },
    "GetDatabaseRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "Name":{"shape":"NameString"}
      }
    },
    "GetDatabaseResponse":{
      "type":"structure",
      "members":{
        "Database":{"shape":"Database"}
      }
    },
    "GetDatabasesRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "NextToken":{"shape":"Token"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetDatabasesResponse":{
      "type":"structure",
      "required":["DatabaseList"],
      "members":{
        "DatabaseList":{"shape":"DatabaseList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetDataflowGraphRequest":{
      "type":"structure",
      "members":{
        "PythonScript":{"shape":"PythonScript"}
      }
    },
    "GetDataflowGraphResponse":{
      "type":"structure",
      "members":{
        "DagNodes":{"shape":"DagNodes"},
        "DagEdges":{"shape":"DagEdges"}
      }
    },
    "GetDevEndpointRequest":{
      "type":"structure",
      "required":["EndpointName"],
      "members":{
        "EndpointName":{"shape":"GenericString"}
      }
    },
    "GetDevEndpointResponse":{
      "type":"structure",
      "members":{
        "DevEndpoint":{"shape":"DevEndpoint"}
      }
    },
    "GetDevEndpointsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"PageSize"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetDevEndpointsResponse":{
      "type":"structure",
      "members":{
        "DevEndpoints":{"shape":"DevEndpointList"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetJobRequest":{
      "type":"structure",
      "required":["JobName"],
      "members":{
        "JobName":{"shape":"NameString"}
      }
    },
    "GetJobResponse":{
      "type":"structure",
      "members":{
        "Job":{"shape":"Job"}
      }
    },
    "GetJobRunRequest":{
      "type":"structure",
      "required":[
        "JobName",
        "RunId"
      ],
      "members":{
        "JobName":{"shape":"NameString"},
        "RunId":{"shape":"IdString"},
        "PredecessorsIncluded":{"shape":"BooleanValue"}
      }
    },
    "GetJobRunResponse":{
      "type":"structure",
      "members":{
        "JobRun":{"shape":"JobRun"}
      }
    },
    "GetJobRunsRequest":{
      "type":"structure",
      "required":["JobName"],
      "members":{
        "JobName":{"shape":"NameString"},
        "NextToken":{"shape":"GenericString"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetJobRunsResponse":{
      "type":"structure",
      "members":{
        "JobRuns":{"shape":"JobRunList"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetJobsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"GenericString"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetJobsResponse":{
      "type":"structure",
      "members":{
        "Jobs":{"shape":"JobList"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetMappingRequest":{
      "type":"structure",
      "required":["Source"],
      "members":{
        "Source":{"shape":"CatalogEntry"},
        "Sinks":{"shape":"CatalogEntries"},
        "Location":{"shape":"Location"}
      }
    },
    "GetMappingResponse":{
      "type":"structure",
      "required":["Mapping"],
      "members":{
        "Mapping":{"shape":"MappingList"}
      }
    },
    "GetPartitionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "PartitionValues"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "PartitionValues":{"shape":"ValueStringList"}
      }
    },
    "GetPartitionResponse":{
      "type":"structure",
      "members":{
        "Partition":{"shape":"Partition"}
      }
    },
    "GetPartitionsRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "Expression":{"shape":"PredicateString"},
        "NextToken":{"shape":"Token"},
        "Segment":{"shape":"Segment"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetPartitionsResponse":{
      "type":"structure",
      "members":{
        "Partitions":{"shape":"PartitionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetPlanRequest":{
      "type":"structure",
      "required":[
        "Mapping",
        "Source"
      ],
      "members":{
        "Mapping":{"shape":"MappingList"},
        "Source":{"shape":"CatalogEntry"},
        "Sinks":{"shape":"CatalogEntries"},
        "Location":{"shape":"Location"},
        "Language":{"shape":"Language"}
      }
    },
    "GetPlanResponse":{
      "type":"structure",
      "members":{
        "PythonScript":{"shape":"PythonScript"},
        "ScalaCode":{"shape":"ScalaCode"}
      }
    },
    "GetResourcePolicyRequest":{
      "type":"structure",
      "members":{
      }
    },
    "GetResourcePolicyResponse":{
      "type":"structure",
      "members":{
        "PolicyInJson":{"shape":"PolicyJsonString"},
        "PolicyHash":{"shape":"HashString"},
        "CreateTime":{"shape":"Timestamp"},
        "UpdateTime":{"shape":"Timestamp"}
      }
    },
    "GetSecurityConfigurationRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "GetSecurityConfigurationResponse":{
      "type":"structure",
      "members":{
        "SecurityConfiguration":{"shape":"SecurityConfiguration"}
      }
    },
    "GetSecurityConfigurationsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{"shape":"PageSize"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetSecurityConfigurationsResponse":{
      "type":"structure",
      "members":{
        "SecurityConfigurations":{"shape":"SecurityConfigurationList"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "Name"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "Name":{"shape":"NameString"}
      }
    },
    "GetTableResponse":{
      "type":"structure",
      "members":{
        "Table":{"shape":"Table"}
      }
    },
    "GetTableVersionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "VersionId":{"shape":"VersionString"}
      }
    },
    "GetTableVersionResponse":{
      "type":"structure",
      "members":{
        "TableVersion":{"shape":"TableVersion"}
      }
    },
    "GetTableVersionsList":{
      "type":"list",
      "member":{"shape":"TableVersion"}
    },
    "GetTableVersionsRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "TableName":{"shape":"NameString"},
        "NextToken":{"shape":"Token"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetTableVersionsResponse":{
      "type":"structure",
      "members":{
        "TableVersions":{"shape":"GetTableVersionsList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetTablesRequest":{
      "type":"structure",
      "required":["DatabaseName"],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "Expression":{"shape":"FilterString"},
        "NextToken":{"shape":"Token"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetTablesResponse":{
      "type":"structure",
      "members":{
        "TableList":{"shape":"TableList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GetTagsRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{"shape":"GlueResourceArn"}
      }
    },
    "GetTagsResponse":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagsMap"}
      }
    },
    "GetTriggerRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NameString"}
      }
    },
    "GetTriggerResponse":{
      "type":"structure",
      "members":{
        "Trigger":{"shape":"Trigger"}
      }
    },
    "GetTriggersRequest":{
      "type":"structure",
      "members":{
        "NextToken":{"shape":"GenericString"},
        "DependentJobName":{"shape":"NameString"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetTriggersResponse":{
      "type":"structure",
      "members":{
        "Triggers":{"shape":"TriggerList"},
        "NextToken":{"shape":"GenericString"}
      }
    },
    "GetUserDefinedFunctionRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "FunctionName"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "FunctionName":{"shape":"NameString"}
      }
    },
    "GetUserDefinedFunctionResponse":{
      "type":"structure",
      "members":{
        "UserDefinedFunction":{"shape":"UserDefinedFunction"}
      }
    },
    "GetUserDefinedFunctionsRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "Pattern"
      ],
      "members":{
        "CatalogId":{"shape":"CatalogIdString"},
        "DatabaseName":{"shape":"NameString"},
        "Pattern":{"shape":"NameString"},
        "NextToken":{"shape":"Token"},
        "MaxResults":{"shape":"PageSize"}
      }
    },
    "GetUserDefinedFunctionsResponse":{
      "type":"structure",
      "members":{
        "UserDefinedFunctions":{"shape":"UserDefinedFunctionList"},
        "NextToken":{"shape":"Token"}
      }
    },
    "GlueEncryptionException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "GlueResourceArn":{
      "type":"string",
      "max":10240,
      "min":1,
      "pattern":"arn:aws:glue:.*"
    },
    "GrokClassifier":{
      "type":"structure",
      "required":[
        "Name",
        "Classification",
        "GrokPattern"
      ],
      "members":{
        "Name":{"shape":"NameString"},
        "Classification":{"shape":"Classification"},
        "CreationTime":{"shape":"Timestamp"},
        "LastUpdated":{"shape":"Timestamp"},
        "Version":{"shape":"VersionId"},
        "GrokPattern":{"shape":"GrokPattern"},
        "CustomPatterns":{"shape":"CustomPatterns"}
      }
    },
    "GrokPattern":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\t]*"
    },
    "HashString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "IdString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "IdempotentParameterMismatchException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "ImportCatalogToGlueRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{"shape":"CatalogIdString"}
      }
    },
    "ImportCatalogToGlueResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Integer":{"type":"integer"},
    "IntegerFlag":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "IntegerValue":{"type":"integer"},
    "InternalServiceException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true,
      "fault":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"MessageString"}
      },
      "exception":true
    },
    "JdbcTarget":{
      "type":"structure",
      "members":{
        "ConnectionName":{"shape":"ConnectionName"},
        "Path":{"shape":"Path"},
        "Exclusions":{"shape":"PathList"}
      }
    },
    "JdbcTargetList":{
      "type":"list",
      "member":{"shape":"JdbcTarget"}
    },
    "Job":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NameString"},
        "Description":{"shape":"DescriptionString"},
        "LogUri":{"shape":"UriString"},
        "Role":{"shape":"RoleString"},
        "CreatedOn":{"shape":"TimestampValue"},
        "LastModifiedOn":{"shape":"TimestampValue"},
        "ExecutionProperty":{"shape":"ExecutionProperty"},
        "Command":{"shape":"JobCommand"},
        "DefaultArguments":{"shape":"GenericMap"},
        "Connections":{"shape":"ConnectionsList"},
        "MaxRetries":{"shape":"MaxRetries"},
        "AllocatedCapacity":{
          "shape":"IntegerValue",
          "deprecated":true,
          "deprecatedMessage":"This property is deprecated, use MaxCapacity instead."
        },
        "Timeout":{"shape":"Timeout"},
        "MaxCapacity":{"shape":"NullableDouble"},
        "WorkerType":{"shape":"WorkerType"},
        "NumberOfWorkers":{"shape":"NullableInteger"},
        "SecurityConfiguration":{"shape":"NameString"},
        "NotificationProperty":{"shape":"NotificationProperty"}
      }
    },
    "JobBookmarkEntry":{
      "type":"structure",
      "members":{
        "JobName":{"shape":"JobName"},
        "Version":{"shape":"IntegerValue"},
        "Run":{"shape":"IntegerValue"},
        "Attempt":{"shape":"IntegerValue"},
        "JobBookmark":{"shape":"JsonValue"}
      }
    },
    "JobBookmarksEncryption":{
      "type":"structure",
      "members":{
        "JobBookmarksEncryptionMode":{"shape":"JobBookmarksEncryptionMode"},
        "KmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "JobBookmarksEncryptionMode":{
[...]
